/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) {
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) {
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) {
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) {
    div { color:#888; }
}

// ----------------------------------------------
*/
/* line 3, ../scss/styles_kr.scss */
.catalog-product-view .product-view .product-shop .product-name .h1 {
  font-size: 28px;
}

/* line 6, ../scss/styles_kr.scss */
.product-options-bottom .group-cart-bottom, .add-to-cart-wrapper .group-cart-bottom {
  padding: 0 !important;
}

@media only screen and (min-width: 768px) and (max-width: 815px) {
  /* line 12, ../scss/styles_kr.scss */
  .link-header-content.switch-form {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 815px) {
  /* line 19, ../scss/styles_kr.scss */
  .logo .logo-text {
    font-size: 22px;
  }
}
/* line 23, ../scss/styles_kr.scss */
.show-sorter-page .sorter > .limiter {
  padding: 17px 10px 15px;
}

@media only screen and (min-width: 769px) and (max-width: 920px) {
  /* line 28, ../scss/styles_kr.scss */
  html:lang(ko) .link-header-content.switch-form {
    padding: 0 7px;
  }
  /* line 31, ../scss/styles_kr.scss */
  html:lang(ko) .logo .logo-text {
    left: 85px;
    font-size: 21px;
  }
  /* line 35, ../scss/styles_kr.scss */
  html:lang(ko) .link-header-content.link-wishlist a {
    padding: 6px;
  }
  /* line 38, ../scss/styles_kr.scss */
  html:lang(ko) .link-header-content.header-minicart .skip-cart {
    padding: 4px 5px 5px 2px;
  }
}
/* line 42, ../scss/styles_kr.scss */
html:lang(ko) .add-to-cart-wrapper {
  padding: 0 !important;
}
