// Mixins
@import "mixin/breakpoint";
.catalog-product-view .product-view .product-shop .product-name .h1{
  font-size: 28px;
}
.product-options-bottom .group-cart-bottom, .add-to-cart-wrapper .group-cart-bottom{
  padding: 0 !important;
}
  @include bp(min-width, 768px) {
    @include bp(max-width, 815px) {
      .link-header-content {
        &.switch-form {
          padding: 0 8px;
        }
      }
    }
  }
  @include bp(max-width, 815px) {
    .logo .logo-text{
      font-size: 22px;
    }
  }
.show-sorter-page .sorter > .limiter {
  padding: 17px 10px 15px;
}
html:lang(ko){
  @media only screen and (min-width: 769px) and (max-width: 920px) {
    .link-header-content.switch-form{
      padding: 0 7px;
    }
    .logo .logo-text {
      left: 85px;
      font-size: 21px;
    }
    .link-header-content.link-wishlist a {
      padding: 6px;
    }
    .link-header-content.header-minicart .skip-cart {
      padding: 4px 5px 5px 2px;
    }
  }
  .add-to-cart-wrapper{
    padding: 0 !important;
  }
  //@include bp(min-width, 1199px){
  //  .shop-world .world-shop-child.last .thumbnail{
  //    padding-top: 30px;
  //  }
  //}
  //@include bp(min-width, 769px) {
  //  .world-shop-child .thumbnail p {
  //    font-size: 14px;
  //    &.title {
  //      font-size: 24px;
  //    }
  //  }
  //}
}
