<!--@subject Store Credit update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Customer Name",
"var balance":"Customer Store Credit Balance"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1>{{var name|escape}}</h1>
                    <p>我们已经更新您的账户 <a href="{{store url=""}}">{{store url=""}}</a> 您拥有信用点数，以后购物时可以使用.</p>
                    <p>您的信用点数现在可兑换{{var balance}}</p>
                    <p>感谢您的购物.</p>
                    <p>谢谢</p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
