<!--@subject Gift Registry updated at {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"store url=\"customer/account/\"":"Customer Account Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var owner.getName()|escape":"Owner Name",
"var entity.getTitle()|escape":"Registry Title"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">您好， {{var owner.getName()|escape}}</h1>

                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
                    以下物品刚从你的“{{var entity.getTitle()|escape}}”礼品登记处购得。:

                    <p>{{layout handle="enterprise_giftregistry_email_entity_items" entity=$entity}}</p><br/>

                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">你可以登录你的帐号参看礼品登记处的详细信息。.</p>
               </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
