<!--@subject Gift Registry shared at {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"store url=\"customer/account/\"":"Customer Account Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var recipient_name|escape":"Recipient Name",
"var message|escape|nl2br":"Message",
"var entity.getTitle()|escape":"Registry Title",
"var entity.getRegistrants()|escape":"Registry Recipients",
"var entity.getUrlKey()|escape":"Registry Url Key",
"var url|escape":"Registry Url"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1>您好， {{if recipient_name}}{{var recipient_name|escape}}{{/if}}</h1>

                    {{if message}}
                    <p>{{var message|escape|nl2br}}</p>
                    {{/if}}

                    <p>您可以查看并购买本礼物注册单上的商品 <a href="{{store url="customer/account/"}}">{{var store.getFrontendName()}}</a>:<br/><br/>
                        礼物注册单： {{var entity.getTitle()|escape}}<br/>
                        创建目的： {{var entity.getRegistrants()|escape}}<br/>
                        礼物注册单 ID：{{var entity.getUrlKey()|escape}}
                    </p>

                    <p>
                        礼物注册单位置: <a href="{{var url|escape}}">{{var url|escape}}</a>
                    </p>

                    <p>您可以创建自己的礼物注册单放在 <a href="{{store url="customer/account/"}}">{{var store.getFrontendName()}}</a> 并和朋友家人共享.</p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
