<!--@subject You've been sent a gift from {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Recipient Name",
"var store.getFrontendName()|escape":"Store Name",
"var code|escape":"Gift Card Code",
"var balance":"Gift Card Balance"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">{{var name|escape}}</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">我们已经发送给您一张优惠券，可在 {{var store.getFrontendName()|escape}}使用，您现在就可以用它购物啦.</p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;"><strong>优惠券代码是:</strong> {{var code|escape}}.</p>
                    <p style="font-size:12px; line-height:16px; margin:0;">该优惠券可兑换{{var balance}}，可用于 <a href="{{store url="/"}}">{{store url="/"}}</a></p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
