<!--@subject {{if inviter_name}}{{var inviter_name}} invites you{{else}}Invite{{/if}} to join Private Sales Site @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()|escape":"Store Name",
"var message|escape|nl2br":"Invitation Message",
"var url|escape":"Invitation Url"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">请接受此邀请来加入 {{var store.getFrontendName()|escape}}</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var store.getFrontendName()|escape}} 提供产品限时特卖仅适用于会员.</p>
                    {{if allow_message}}
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var message|escape|nl2br}}</p>
                    {{/if}}
                    <p style="font-size:12px; line-height:16px; margin:0;">
                        请使用下方链接来创建账户并查看特惠信息<br /><a href="{{var url|escape}}">{{var url|escape}}</a>
                    </p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
