<!--@subject Promotion reminder at {{var store.getFrontendName()|escape}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"store url=\"customer/account/\"":"Customer Account Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()|escape":"Store Name",
"var promotion_name|escape":"Promotion Name",
"var promotion_description|escape|nl2br":"Promotion Description",
"var coupon.getCode()|escape":"Coupon Code",
"var coupon.getUsageLimit()|escape":"Coupon Usage Limit",
"var coupon.getUsagePerCustomer()|escape":"Coupon Usage Per Customer",
"var customer.getName()|escape":"Customer Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">{{var customer.getName()|escape}}，你好</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">赶紧抓住{{if promotion_name}}优惠<strong>{{var promotion_name|escape}}</strong>{{else}}这个{{/if}}优惠！</p>

                    {{if promotion_description}}
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var promotion_description|escape|nl2br}}</p>
                    {{/if}}

                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">要享受此优惠，你需要登录 <a href="{{store url="customer/account/"}}">{{var store.getFrontendName()|escape}}</a>{{if coupon.getCode()}} and apply the coupon "{{var coupon.getCode()|escape}}" at the shopping cart{{/if}}.</p>

                    {{if coupon.getUsageLimit()}}
                    <p style="font-size:12px; line-height:16px; margin:0;">此优惠券你和其他客户最多只能使用{{var coupon.getUsageLimit()|escape}}次。.</p>
                    {{/if}}

                    {{if coupon.getUsagePerCustomer()}}
                    <p style="font-size:12px; line-height:16px; margin:0;">此优惠券你最多只能使用{{var coupon.getUsagePerCustomer()|escape}}次。.</p>
                    {{/if}}
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
