<!--@subject Reward Points Balance Updated at {{var store.getFrontendName()|escape}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"config path='trans_email/ident_sales/email'":"Sales Contact Email",
"config path='general/store_information/phone'":"Sales Contact Phone",
"var unsubscription_url":"Unsubscription URL",
"var points_balance":"Current Points Amount",
"var customer.getName()|escape":"Customer Name",
"var reward_pts_was":"Previous Points Amount",
"var reward_pts_change":"Points Change",
"var reward_amount_was":"Previous Reward Amount",
"var reward_amount_now":"Current Reward Amount",
"var update_message":"Update Message",
"var update_comment":"Update Comment"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">{{var customer.getName()|escape}}，你好</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">您有{{var points_balance}} pts 可在我们的店铺使用 <a href="{{store url=""}}">{{var store.getFrontendName()|escape}}</a>.</p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">如果您有关于您的账户或其他方面的任何问题，请随时与我们联系
                    please note this sentence and the above should be translated into one sentence in Chinese. So no translation here <a href="mailto:{{config path='trans_email/ident_sales/email'}}">{{config path='trans_email/ident_sales/email'}}</a>
                    或致电 {{config path='general/store_information/phone'}}.</p>
                    <p style="font-size:12px; line-height:16px; margin:0;">您可以 <a href="{{var unsubscription_url}}">取消订阅</a> 这些通知.</p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
