<!--@subject {{var store.getFrontendName()}}: New customer comment @-->
<!--@vars
{"htmlescape var=$rma.getCustomerName()":"Customer Name",
"var comment":"RMA Comment",
"var store.getFrontendName()":"Store Name",
"var rma.getIncrementId()":"Return Id"
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                客户 {{htmlescape var=$order.getCustomerName()}} 发表了新评论 <blockquote>{{var comment}}</blockquote>
                对于 RMA 申请 #{{var rma.getIncrementId()}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
