<!--@subject {{var store.getFrontendName()}}: New Return # {{var rma.getIncrementId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$rma.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var rma.getIncrementId()":"Return Id",
"var rma.getStatusLabel().format('html')":"Return Status",
"var rma.getCreatedAtFormated('long')":"Return Created At (datetime)",
"var return_address":"Return Address",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var item_collection":"Items Collection",
"layout handle=\"enterprise_rma_email_rma_items\" collection=$item_collection":"Return Items Collection"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">您好，{{htmlescape var=$order.getCustomerName()}}</h1>
                    <p style="font-size:12px; line-height:16px; margin:0;">
                        您的退货申请已收到。当您的申请被批准后将收到通知.
                        如果您对退货有任何疑问，请联系我们： <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                    </p>
                    <p style="font-size:12px; line-height:16px; margin:0;">感谢您的光临.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="font-size:18px; font-weight:normal; margin:0;">你的退货 #{{var rma.getIncrementId()}} - {{var rma.getStatusLabel().format('html')}} <small>（位于 {{var rma.getCreatedAtFormated('long')}}）</small></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">送货地址:</th>
                            <th width="10"></th>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">退货地址:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getShippingAddress().format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var return_address}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{layout handle="enterprise_rma_email_rma_items" collection=$item_collection}}
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
