<!--@subject {{var operationName}} - Scheduled Import Failed @-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <table>
                <thead>
                    <tr>
                        <th>"{{var operationName}}" - 安排的导入失败.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <b>运营商名称:</b><br />
                                {{var operationName}}
                            </p>
                            <p>
                                <b>实体类型:</b><br />
                                {{var entity}}
                            </p>
                            <p>
                                <b>文件历史路径:</b><br />
                                {{var fileName}}
                            </p>
                            <p>
                                <b>日期与时间:</b><br />
                                {{var dateAndTime}}
                            </p>
                            <p>
                                <b>日志追踪:</b><br />
                                {{var trace}}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
