<!--@subject Scheduled Import/Export File History Cleanup Warnings @-->
<!--@vars
{"var warnings":"Scheduled Import/Export File History Cleanup Warnings"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            安排的导入/导出文件历史清理警告:
            <br>
            {{var warnings}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
