<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text">{{var store.getFrontendName()}}再次向您表示感谢</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
