@import "mixin/breakpoint";
#opc-shipping{
  display: none;
}
.page-print .col2-set{
  .col-2{
    display: none;
  }
  .col-1{
    width: 100%;
  }
}
.products-list .action .button {
  @include bp(max-width, 350px) {
    padding: 6px 3px 4px 3px !important;
  }
}
  #co-billing-form ul.form-list {
    > .control {
      display: none;
    }
  }
  #shipping-progress-opcheckout{
    display: none;
  }
  .my-account{
    .addresses-list .addresses-primary .item{
      &:nth-of-type(2){
        display: none;
      }
    }
  }
  .new-address-book .fieldset:nth-of-type(2) .form-list li:nth-last-child(1){
    display: none;
  }
  .customer-account-index{
    .col2-set{
      .col-1{
        display: none;
      }
      .col-2{
        float: left;
        padding-left: 0;
      }
    }
  }

  .pager-bottom-custom:lang(zh) .pages li a{
    font-size: 18px;
  }
html:lang(zh){
  @media only screen and (max-width: 979px){
    .main-container{
      .home-category-list .page-title h2{
        border-top: 1px solid #424242;
        span{
          margin-top: -15px;
          &.row-bottom{
            margin-top: 10px;
          }
        }
      }
      .home-category-list .page-title h2:before,
      .home-category-list .page-title h2:after{
        width: 0;
      }
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 920px) {
    .logo .logo-text {
      left: 85px;
      font-size: 21px;
    }
  }
  @media only screen and (max-width: 768px) {
    .logo .logo-text{
      font-size: 22px;
    }
    .button, .cart-table .product-cart-actions .button,
    #co-shipping-method-form .buttons-set .button,
    .footer .button{
      font-size: 12px;
    }
  }
  @media only screen and (min-width: 769px) {
    .skip-cart .count,
    .link-wishlist .count {
      font-size: 14px;
      font-weight: 400;
    }
    .link-header-content.link-wishlist a{
      padding: 4px 20px 7px;
    }
  }
}

