<?php
/* @var $bank Bluecom_Alipay_Model_Source_Bank  */
$bank = Mage::getModel('alipay/source_bank');
/* @var $this Bluecom_Alipay_Block_Form */
$alipay_defaultbank = $this->getMethod()->getInfoInstance()->getAlipayDefaultbank();
$service_type = $this->getServiceType();
?>
<style type="text/css">
.alipay_defaultbanks .bank_label{display:block;width:123px;height:30px;float:left;cursor:pointer;}
.alipay_defaultbanks .bank_label span{display:none;}
.alipay_defaultbanks .bank_row{width:142px;margin-left:10px;margin-bottom:10px;float:left;}
.alipay_defaultbanks .bank_row input{display:block;float:left;margin-top:8px;}
</style>
<fieldset class="form-divst">
    <?php if($service_type == 'create_direct_pay_bank_by_user'):?>
        <?php $_code=$this->getMethodCode() ?>
        <div id="payment_form_<?php echo $_code ?>" style="display:none">
            <div class="alipay_defaultbanks">
                <?php $row1 = array('ALIPAY');?>
                <div style="height:35px;">
                <?php foreach($bank->toOptionArray() as $_bank): ?>
                    <?php if(in_array($_bank['value'], $row1)):?>
                        <div class="bank_row">
                            <input id="p_method_bank_<?php echo $_bank['value'] ?>" value="<?php echo $_bank['value'] ?>" <?php if ($alipay_defaultbank == $_bank['value']) { ?>checked="checked"<?php } ?> type="radio" name="payment[alipay_defaultbank]" title="<?php echo $this->htmlEscape($_bank['label']) ?>"  class="radio" />
                            <label for="p_method_bank_<?php echo $_bank['value'] ?>" class="bank_label <?php echo $_bank['value'] ?>" style="background:url('<?php echo $this->getSkinUrl('images/bank_logo_sprite.jpg') ?>') <?php echo $_bank['bp'] ?> no-repeat;">
                                <span><?php echo $_bank['label'] ?></span>
                            </label>
                            <div style="clear:both;"></div>
                        </div>
                    <?php endif;?>
                <?php endforeach; ?>
                </div>
                <div style="clear:both;"></div>
                <div style="height:35px;">
                <?php foreach($bank->toOptionArray() as $_bank): ?>
                    <?php if(!in_array($_bank['value'], array_merge($row1))):?>
                        <div class="bank_row" >
                            <input id="p_method_bank_<?php echo $_bank['value'] ?>" value="<?php echo $_bank['value'] ?>" <?php if ($alipay_defaultbank == $_bank['value']) { ?>checked="checked"<?php } ?> type="radio" name="payment[alipay_defaultbank]" title="<?php echo $this->htmlEscape($_bank['label']) ?>"  class="radio" />
                            <label for="p_method_bank_<?php echo $_bank['value'] ?>" class="bank_label <?php echo $_bank['value'] ?>" style="background:url('<?php echo $this->getSkinUrl('images/bank_logo_sprite.jpg') ?>') <?php echo $_bank['bp'] ?> no-repeat;">
                                <span><?php echo $_bank['label'] ?></span>
                            </label>
                            <div style="clear:both;"></div>
                        </div>
                    <?php endif;?>
                <?php endforeach; ?>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;">
                <?php echo $this->__('You will be redirected to alipay website when you place an order.') ?>
            </div>
        </div>
    <?php else:?>
        <?php $_code=$this->getMethodCode() ?>
        <div id="payment_form_<?php echo $_code ?>" style="display:none">
            <div class="alipay_defaultbanks">
                <?php $row1 = array('ALIPAY');?>
                <div style="height:35px;">
                <?php foreach($bank->toOptionArray() as $_bank): ?>
                    <?php if(in_array($_bank['value'], $row1)):?>
                        <div class="bank_row">
                            <input style="display:none;" id="p_method_bank_<?php echo $_bank['value'] ?>" value="<?php echo $_bank['value'] ?>" <?php if ($alipay_defaultbank == $_bank['value']) { ?>checked="checked"<?php } ?> type="radio" name="payment[alipay_defaultbank]" title="<?php echo $this->htmlEscape($_bank['label']) ?>"  class="radio" />
                            <label for="p_method_bank_<?php echo $_bank['value'] ?>" class="bank_label <?php echo $_bank['value'] ?>" style="background:url('<?php echo $this->getSkinUrl('images/bank_logo_sprite.jpg') ?>') <?php echo $_bank['bp'] ?> no-repeat;">
                                <span><?php echo $_bank['label'] ?></span>
                            </label>
                            <div style="clear:both;"></div>
                        </div>
                    <?php endif;?>
                <?php endforeach; ?>
                </div>
                <div style="clear:both;"></div>
                <div style="height:35px;display:none;">
                <?php foreach($bank->toOptionArray() as $_bank): ?>
                    <?php if(!in_array($_bank['value'], array_merge($row1))):?>
                        <div class="bank_row" >
                            <input id="p_method_bank_<?php echo $_bank['value'] ?>" value="<?php echo $_bank['value'] ?>" <?php if ($alipay_defaultbank == $_bank['value']) { ?>checked="checked"<?php } ?> type="radio" name="payment[alipay_defaultbank]" title="<?php echo $this->htmlEscape($_bank['label']) ?>"  class="radio" />
                            <label for="p_method_bank_<?php echo $_bank['value'] ?>" class="bank_label <?php echo $_bank['value'] ?>" style="background:url('<?php echo $this->getSkinUrl('images/bank_logo_sprite.jpg') ?>') <?php echo $_bank['bp'] ?> no-repeat;">
                                <span><?php echo $_bank['label'] ?></span>
                            </label>
                            <div style="clear:both;"></div>
                        </div>
                    <?php endif;?>
                <?php endforeach; ?>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;">
                <?php echo $this->__('You will be redirected to alipay website when you place an order.') ?>
            </div>
        </div>
    <?php endif;?>                   
</fieldset>