<?php
$_v = $this->getVendor();
$useUdTitles = Mage::getStoreConfigFlag('carriers/udsplit/use_dropship_titles');
?>

<?php switch ($this->getPart()): case 'header': ?>

<tr class="udropship-cart-vendor-header">
    <td colspan="10" style="padding-top:5px; padding-bottom:0">
    <?php if ($_v->getId()): ?>
        <h3><?php echo $_v->getVendorName() ?></h3>
    <?php else: ?>
        <h3>Unknown vendor</h3>
    <?php endif ?>
    <?php $vendorErrors = $this->getQuote1()->getMinVendorOrderAmountErrors(); ?>
    <?php if (!empty($vendorErrors) && !empty($vendorErrors[$_v->getId()])): ?>
        <p class="item-msg error">* <?php echo $this->htmlEscape($vendorErrors[$_v->getId()]) ?></p>
    <?php endif ?>
    </td>
</tr>

<?php break; case 'footer': ?>

<tr class="udropship-cart-vendor-footer">
    <td colspan="10">
        <div style="float:right">
            <?php echo Mage::helper('udropship')->__('Subtotal:')?>
            <strong><?php echo Mage::helper('core')->formatPrice($this->getSubtotal()) ?></strong>
        </div>
        <?php if (!$this->isVirtual()): ?>
        <?php if ($this->getErrorsOnly()): ?>
            <?php echo htmlspecialchars(Mage::getStoreConfig('carriers/udsplit/specificerrmsg')) ?>
        <?php else: ?>
        <?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
        <?php echo Mage::helper('udropship')->__('Select Shipping:')?>
        <select name="cart[estimate_method][<?php echo $_v->getId()?>]" class="shipment-methods" style="width:auto">
        <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
            <?php if (!$useUdTitles):?>
            <optgroup label="<?php echo Mage::helper('udropship')->__($this->getCarrierName($code)) ?>">
            <?php endif ?>
            <?php foreach ($_rates as $_rate): ?>
            <?php if ($_rate->getErrorMessage()): ?>
                <?php //echo $_rate->getErrorMessage() ?>
            <?php else:
                $_price = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax());
                $_incl = $this->getShippingPrice($_rate->getPrice(), true);
                if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_price) {
                    $_price .= ' ('.Mage::helper('udropship')->__('Incl. Tax ').$_incl.')';
                }
            ?>
                <option value="<?php echo $this->htmlEscape($_rate->getCode()) ?>" <?php if($_rate->getCode()===$this->getShippingMethod('code')) echo ' selected="selected"' ?>>
                    <?php echo $_rate->getMethodTitle() ?> - <?php echo $_price ?>
                </option>
            <?php endif ?>
            <?php endforeach; ?>
            <?php if (!$useUdTitles):?>
                </optgroup>
            <?php endif ?>
        <?php endforeach; ?>
        </select>
        <?php endif; ?>
        <?php endif; ?>
        <?php endif; ?>
    </td>
</tr>
    <?php if($this->getWeight() >= 100): ?>
<tr>
    <td colspan="6">
        <span class="item-msg error"><?php echo Mage::helper('udropship')->__('Dear Customer, we regret to inform you that we cannot process your order that is more than 100kg. Please contact our Customer Service Team at customerservice@allworldshops.com for assistance and advise. Thank you.');  ?></span>
    </td>
</tr>
    <?php endif; ?>
<?php endswitch ?>
