/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) {
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) {
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) {
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) {
    div { color:#888; }
}

// ----------------------------------------------
*/
/* line 2, ../scss/styles_cn.scss */
#opc-shipping {
  display: none;
}

/* line 6, ../scss/styles_cn.scss */
.page-print .col2-set .col-2 {
  display: none;
}
/* line 9, ../scss/styles_cn.scss */
.page-print .col2-set .col-1 {
  width: 100%;
}

@media only screen and (max-width: 350px) {
  /* line 13, ../scss/styles_cn.scss */
  .products-list .action .button {
    padding: 6px 3px 4px 3px !important;
  }
}

/* line 19, ../scss/styles_cn.scss */
#co-billing-form ul.form-list > .control {
  display: none;
}

/* line 23, ../scss/styles_cn.scss */
#shipping-progress-opcheckout {
  display: none;
}

/* line 28, ../scss/styles_cn.scss */
.my-account .addresses-list .addresses-primary .item:nth-of-type(2) {
  display: none;
}

/* line 33, ../scss/styles_cn.scss */
.new-address-book .fieldset:nth-of-type(2) .form-list li:nth-last-child(1) {
  display: none;
}

/* line 38, ../scss/styles_cn.scss */
.customer-account-index .col2-set .col-1 {
  display: none;
}
/* line 41, ../scss/styles_cn.scss */
.customer-account-index .col2-set .col-2 {
  float: left;
  padding-left: 0;
}

/* line 48, ../scss/styles_cn.scss */
.pager-bottom-custom:lang(zh) .pages li a {
  font-size: 18px;
}

@media only screen and (max-width: 979px) {
  /* line 54, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2 {
    border-top: 1px solid #424242;
  }
  /* line 56, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2 span {
    margin-top: -15px;
  }
  /* line 58, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2 span.row-bottom {
    margin-top: 10px;
  }
  /* line 63, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2:before,
  html:lang(zh) .main-container .home-category-list .page-title h2:after {
    width: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 920px) {
  /* line 70, ../scss/styles_cn.scss */
  html:lang(zh) .logo .logo-text {
    left: 85px;
    font-size: 21px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 76, ../scss/styles_cn.scss */
  html:lang(zh) .logo .logo-text {
    font-size: 22px;
  }
  /* line 79, ../scss/styles_cn.scss */
  html:lang(zh) .button, html:lang(zh) .cart-table .product-cart-actions .button,
  html:lang(zh) #co-shipping-method-form .buttons-set .button,
  html:lang(zh) .footer .button {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) {
  /* line 86, ../scss/styles_cn.scss */
  html:lang(zh) .skip-cart .count,
  html:lang(zh) .link-wishlist .count {
    font-size: 14px;
    font-weight: 400;
  }
  /* line 91, ../scss/styles_cn.scss */
  html:lang(zh) .link-header-content.link-wishlist a {
    padding: 4px 20px 7px;
  }
}
