<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>Ha habido recientemente una solicitud para cambiar la contraseña de su cuenta.</p>
            <p>Si ha solicitado este cambio de contraseña, restablezca su contraseña aquí:</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}"><span>Restablecer la contraseña</span></a>
                    </td>
                </tr>
            </table>
            <p>Si no realizó esta solicitud, puede ignorar este mensaje y su contraseña permanecerá igual.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
