<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Bienvenido a {{var store.getFrontendName()}}.</h1>
            <p>Para iniciar sesión al visitar nuestro sitio, simplemente haga clic en <a href="{{store url="customer/account/"}}">Iniciar sesión</a> o <a href="{{store url="customer/account/"}}">Mi cuenta</a> En la parte superior de cada página, y luego ingrese su dirección de correo electrónico y contraseña.</p>
            <p class="highlighted-text">
                Utilice los valores siguientes cuando se le pida que inicie sesión:<br/>
                <strong>Email</strong>: {{var customer.email}}<br/>
                <strong>Contraseña</strong>: {{htmlescape var=$customer.password}}
            </p>
            <p>Cuando inicie sesión en su cuenta, podrá hacer lo siguiente:</p>
            <ul>
                <li>Proceder a la compra más rápido al realizar una compra</li>
                <li>Comprobar el estado de las órdenes</li>
                <li>Ver pedidos pasados</li>
                <li>Realice cambios en la información de su cuenta</li>
                <li>cambia tu contraseña</li>
                <li>Guarde direcciones alternativas (para enviar a varios familiares y amigos!)</li>
            </ul>
            <p>
                Si tiene alguna pregunta, no dude en contactar con nosotros en
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
