<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$user.name}},</h1>
            <p>Ha habido recientemente una solicitud para cambiar la contraseña de su cuenta.</p>
            <p>Puede cambiar su contraseña en cualquier momento ingresando a<a href="{{store url="adminhtml/system_account/"}}">su cuenta</a>.</p>
            <p>Si ha solicitado este cambio de contraseña, haga clic aquí para restablecer su contraseña:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}"><span>Restablecer la contraseña</span></a>
                    </td>
                </tr>
            </table>
            <p>Si no realizó esta solicitud, puede ignorar este mensaje y su contraseña permanecerá igual.p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
