<!--@subject Admin alert notification @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var name}},</h1>
            <h2>Lista de suscripciones para {{var date}}:</h2>

            {{var html}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
