<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hola, {{htmlescape var=$userName}}</h1>
            <p>Su autorización para <b>{{htmlescape var=$applicationName}}</b> Ha cambiado a <b>{{htmlescape var=$status}}</b> Por el equipo de administración.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
