<!--@subject {{var store.getFrontendName()}}: Order # {{var order_id}} update @-->


<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>querido {{var vendor_name}},</strong><br/>
                    Comentario del administrador de la tienda añadido para el pedido # {{var order_id}} ({{var shipment_status}}) <br/>
                </p>

                <p>{{var comment}}</p>

                <p><a href="{{var shipment_url}}">Haga clic aquí para iniciar sesión en el panel de control de envío</a></p>

                <p>Gracias por tu colaboración.</p>

                <p><a href="{{store url=''}}">{{var store_name}}</a></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>
