<!--@subject New Shipment Request for Order # {{var order.increment_id}} from {{var store_name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p><strong>querido {{var vendor_name}},</strong></p>

                    <p>Por favor cumpla este nuevo pedido # {{var order_id}} para:</p>

                    <p><strong>{{var customer_info}}</strong></p>

                    {{layout handle="udropship_email_po_items" shipment=$shipment order=$order}}

                    <p>Envíenos por favor <strong>{{var shipping_method}}</strong>. Si eso no está disponible, notifiqúenos por favor antes de enviar.</p>

                    <p>You can <a href="{{var packingslip_url}}">Descargar el boletín de empaque PDF aquí</a></p>

                    <p><a href="{{var shipment_url}}">Haga clic aquí para iniciar sesión en el panel de control de envío</a> Una vez que esté listo para notificarnos del envío y los números de seguimiento de entrada.</p>

                    <p>Gracias por tu colaboración.</p>

                    <p><a href="{{store url=''}}">{{var store_name}}</a></p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
