<!--@subject Store Credit update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Customer Name",
"var balance":"Customer Store Credit Balance"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var name|escape}}</h1>
            <p>Nous avons mis à jour votre compte sur <a href="{{store url=""}}">{{store url=""}}</a> Et vous avez un crédit que vous pouvez utiliser pour un achat futur.</p>
            <p><strong>Le solde du crédit de votre magasin est:</strong> {{var balance}}</p>
            <p>Nous apprécions votre entreprise.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
