<!--@subject You've been sent a gift from {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Recipient Name",
"var store.getFrontendName()|escape":"Store Name",
"var code|escape":"Gift Card Code",
"var balance":"Gift Card Balance"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var name|escape}}</h1>
            <p>Vous avez été envoyé une carte-cadeau pour utilisation à{{var store.getFrontendName()|escape}} Et il est maintenant prêt à être utilisé pour les achats.</p>
            <p class="highlighted-text">
                <strong>Le code de la carte-cadeau est:</strong> {{var code|escape}}
            </p>
            <p>La carte a un équilibre de <strong>{{var balance}}</strong> Qui peut être utilisé à <a href="{{store url="/"}}">{{store url="/"}}</a></p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
