<!--@subject Gift Registry created at {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"store url=\"customer/account/\"":"Customer Account Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var owner.getName()|escape":"Owner Name",
"var entity.getTitle()|escape":"Registry Title",
"var entity.getMessage|escape":"Registry Recipients",
"var entity.getUrlKey()|escape":"Registry Url Key",
"var url|escape":"Registry Url"}
@-->
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var owner.getName()|escape}},</h1>
            <p>Vous avez créé avec succès le registre de cadeaux suivant:<br/><br/>
                Registre des cadeaux: {{var entity.getTitle()|escape}}<br/>
            </p>
            {{if entity.getMessage()}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>Message: {{var entity.getMessage()|escape}}</td>
                </tr>
            </table>
            {{/if}}
            <p>Vous pouvez maintenant ajouter des produits à votre registre de cadeaux. Il suffit de parcourir<a href="{{store url=""}}">{{var store.getFrontendName()}}</a> Et ajoutez les produits souhaités dans votre panier ou liste de souhaits. Vous pouvez ensuite ajouter les produits à votre liste de registre de votre panier contre la page de liste de souhaits.</p>
            <p>Vous pouvez également le partager avec vos amis et votre famille en vous connectant à votre compte et en visitant l'onglet Registre des cadeaux. Ou, vous pouvez envoyer par email le lien suivant et l'ID du registre de cadeaux:</p>
            <p>
                Emplacement du registre cadeau: <a href="{{var url|escape}}">{{var url|escape}}</a><br/>
                ID du registre des cadeaux: {{var entity.getUrlKey()|escape}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
