<!--@subject Promotion reminder at {{var store.getFrontendName()|escape}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"store url=\"customer/account/\"":"Customer Account Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()|escape":"Store Name",
"var promotion_name|escape":"Promotion Name",
"var promotion_description|escape|nl2br":"Promotion Description",
"var coupon.getCode()|escape":"Coupon Code",
"var coupon.getUsageLimit()|escape":"Coupon Usage Limit",
"var coupon.getUsagePerCustomer()|escape":"Coupon Usage Per Customer",
"var customer.getName()|escape":"Customer Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var customer.getName()|escape}},</h1>
            <p>Dépêchez-vous pour profiter de {{if promotion_name}}<strong>{{var promotion_name|escape}}</strong>{{else}}a{{/if}} promotion!</p>
            {{if promotion_description}}
            <p>{{var promotion_description|escape|nl2br}}</p>
            {{/if}}
            <p>Pour profiter de la promotion, vous devez vous connecter à <a href="{{store url="customer/account/"}}">{{var store.getFrontendName()|escape}}</a>{{if coupon.getCode()}} Et appliquer le coupon "{{var coupon.getCode()|escape}}" Au panier{{/if}}.</p>
            {{if coupon.getUsageLimit()}}
            <p>Ce coupon peut être utilisé uniquement jusqu'à {{var coupon.getUsageLimit()|escape}} Fois (s) par vous ou d'autres clients.</p>
            {{/if}}
            {{if coupon.getUsagePerCustomer()}}
            <p>Vous pouvez utiliser ce coupon jusqu'à{{var coupon.getUsagePerCustomer()|escape}} temps(s).</p>
            {{/if}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
