<!--@subject Reward Points Expiry Warning at {{var store.getFrontendName()|escape}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"config path='trans_email/ident_sales/email'":"Sales Contact Email",
"config path='general/store_information/phone'":"Sales Contact Phone",
"var unsubscription_url":"Unsubscription URL",
"var customer_name|escape":"Customer Name",
"var remaining_days":"Points exiration remaining days",
"var points_expiring":"Points that will be expired",
"var points_balance":"Current Points Amount",
"var reward_amount_now":"Current Money Amount",
"var update_message":"Update Message"}
@-->
<!--@styles
@-->

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Bonjour, {{var customer_name|escape}}</h1>
            <p>Il y a {{var remaining_days}} journée(s) Restant à utiliser votre{{var points_expiring}} Point de récompense(s).</p>
            <p>Après {{var remaining_days}} Jours, ce montant sera expiré.</p>
            <p>Tu as {{var points_balance}} Pts qui peuvent être utilisés dans notre magasin <a href="{{store url=""}}">{{var store.getFrontendName()|escape}}</a>.</p>
            <p>
                Si vous avez des questions sur votre compte ou toute autre question, n'hésitez pas à nous contacter à
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
            <p>Vous pouvez <a href="{{var unsubscription_url}}">unsubscribe</a> À partir de ces notifications.</p>
        </td>
    </tr>
</table>