<!--@subject {{var store.getFrontendName()}}: Return # {{var rma.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var rma.increment_id":"Return Id",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$order.getCustomerName()}},</h1>
            <p>Vous pouvez vérifier l'état de votre retour par <a href="{{store url="customer/account/"}}">Connexion à votre compte</a>.</p>
            {{if comment}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>{{var comment}}</td>
                </tr>
            </table>
            {{/if}}
            <p>
                Si vous avez des questions, n'hésitez pas à nous contacter au
                <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a>
                Ou par téléphone au {{config path='general/store_information/phone'}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
