<!--@subject {{var store.getFrontendName()}}: New Return # {{var rma.getIncrementId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$rma.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var rma.getIncrementId()":"Return Id",
"var rma.getStatusLabel().format('html')":"Return Status",
"var rma.getCreatedAtFormated('long')":"Return Created At (datetime)",
"var return_address":"Return Address",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var item_collection":"Items Collection",
"layout handle=\"enterprise_rma_email_rma_items\" collection=$item_collection":"Return Items Collection"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$order.getCustomerName()}},</h1>
            <p>
                Votre demande de retour a été reçue. Vous serez informé lorsque votre demande sera examinée.
                Si vous avez des questions sur votre retour, contactez-nous au <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a>
            </p>
            <p>Merci pour votre entreprise.</p>
        </td>
    </tr>
    <tr>
        <td class="order-details">
            <h3>Ton retour <span class="no-link">#{{var rma.getIncrementId()}}</span> - {{var rma.getStatusLabel().format('html')}}</h3>
            <p>Placé sur {{var rma.getCreatedAtFormated('long')}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <tr class="order-information">
                <td>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="method-info">
                                <h6>Adresse de livraison:</h6>
                                <p>{{var order.getShippingAddress().format('html')}}</p>
                            </td>
                            <td class="method-info">
                                <h6>Adresse de retour:</h6>
                                {{var return_address}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <br/>
            {{layout handle="enterprise_rma_email_rma_items" collection=$item_collection}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
