<!--@subject {{var operationName}} - Scheduled Import Failed @-->
<table>
    <thead>
    <tr>
        <th>"{{var operationName}}" - Scheduled Import Failed.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>
                <b>Nom de l'opération:</b><br />
                {{var operationName}}
            </p>
            <p>
                <b>Type d'entité:</b><br />
                {{var entity}}
            </p>
            <p>
                <b>Chemin de l'historique des fichiers:</b><br />
                {{var fileName}}
            </p>
            <p>
                <b>Date et heure:</b><br />
                {{var dateAndTime}}
            </p>
            <p>
                <b>Tracer le journal::</b><br />
                {{var trace}}
            </p>
        </td>
    </tr>
    </tbody>
</table>
