@charset "UTF-8";
/*color for special category*/
/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* ============================================ *
 * General Enterprise Styles
 * ============================================ */
/* line 31, ../scss/module_ee/_enterprise.scss */
.global-site-notice div.notice-inner {
  background-image: url("../images/demo-logo.png");
}

/* ============================================ *
 * RMA List
 * ============================================ */
@media only screen and (max-width: 599px) {
  /* line 32, ../scss/module_ee/_account-rma.scss */
  #my-returns-table .ship-from,
  #my-returns-table .number {
    display: none;
  }
}
/* ============================================ *
 * RMA Create
 * ============================================ */
/* line 45, ../scss/module_ee/_account-rma.scss */
#rma_create_form .form-list li {
  border-bottom: 1px solid #eaeaea;
  font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
  font-size: 12px;
}
/* line 46, ../scss/module_ee/_account-rma.scss */
#rma_create_form .form-list li:last-child {
  border-bottom: none;
}
/* line 53, ../scss/module_ee/_account-rma.scss */
#rma_create_form .form-list li:lang(zh) {
  font-family: "新宋体", NSimSun, Tahoma, Arial, sans-serif;
}
/* line 56, ../scss/module_ee/_account-rma.scss */
#rma_create_form .form-list li:lang(ko) {
  font-family: "돋음", Arial, sans-serif;
}
/* line 59, ../scss/module_ee/_account-rma.scss */
#rma_create_form .form-list li:lang(ja) {
  font-family: "メイリオ", "Hiragino Kaku Gothic Pro", Meiryo, "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}
/* line 62, ../scss/module_ee/_account-rma.scss */
#rma_create_form .form-list li h5 {
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  text-transform: none;
}
/* line 68, ../scss/module_ee/_account-rma.scss */
#rma_create_form .form-list li h5.rma-email {
  text-transform: none;
}
/* line 75, ../scss/module_ee/_account-rma.scss */
#rma_create_form .fieldset {
  margin: 20px 0;
}
/* line 78, ../scss/module_ee/_account-rma.scss */
#rma_create_form .fieldset #registrant_options .field .input-box {
  margin-bottom: 10px;
}
/* line 83, ../scss/module_ee/_account-rma.scss */
#rma_create_form .buttons-set {
  border-top: none;
}

/* ============================================ *
 * RMA View
 * ============================================ */
/* line 93, ../scss/module_ee/_account-rma.scss */
.rma-view.col-2 {
  text-align: right;
}
/* line 97, ../scss/module_ee/_account-rma.scss */
.rma-view h3 {
  font-weight: 600;
}

/* line 103, ../scss/module_ee/_account-rma.scss */
body.enterprise-rma-return-view .box-content {
  font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
}
/* line 107, ../scss/module_ee/_account-rma.scss */
body.enterprise-rma-return-view .box-content:lang(zh) {
  font-family: "新宋体", NSimSun, Tahoma, Arial, sans-serif;
}
/* line 110, ../scss/module_ee/_account-rma.scss */
body.enterprise-rma-return-view .box-content:lang(ko) {
  font-family: "돋음", Arial, sans-serif;
}
/* line 113, ../scss/module_ee/_account-rma.scss */
body.enterprise-rma-return-view .box-content:lang(ja) {
  font-family: "メイリオ", "Hiragino Kaku Gothic Pro", Meiryo, "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}

/* line 121, ../scss/module_ee/_account-rma.scss */
#my-returns-items-table th,
#my-returns-items-table td {
  font-size: 13px;
}

/* line 129, ../scss/module_ee/_account-rma.scss */
#rma_comment .box-content label {
  font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
/* line 133, ../scss/module_ee/_account-rma.scss */
#rma_comment .box-content label:lang(zh) {
  font-family: "新宋体", NSimSun, Tahoma, Arial, sans-serif;
}
/* line 136, ../scss/module_ee/_account-rma.scss */
#rma_comment .box-content label:lang(ko) {
  font-family: "돋음", Arial, sans-serif;
}
/* line 139, ../scss/module_ee/_account-rma.scss */
#rma_comment .box-content label:lang(ja) {
  font-family: "メイリオ", "Hiragino Kaku Gothic Pro", Meiryo, "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}
/* line 145, ../scss/module_ee/_account-rma.scss */
#rma_comment .buttons-set {
  border-top: none;
}
/* line 149, ../scss/module_ee/_account-rma.scss */
#rma_comment .note-list {
  font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
/* line 153, ../scss/module_ee/_account-rma.scss */
#rma_comment .note-list:lang(zh) {
  font-family: "新宋体", NSimSun, Tahoma, Arial, sans-serif;
}
/* line 156, ../scss/module_ee/_account-rma.scss */
#rma_comment .note-list:lang(ko) {
  font-family: "돋음", Arial, sans-serif;
}
/* line 159, ../scss/module_ee/_account-rma.scss */
#rma_comment .note-list:lang(ja) {
  font-family: "メイリオ", "Hiragino Kaku Gothic Pro", Meiryo, "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}
/* line 163, ../scss/module_ee/_account-rma.scss */
#rma_comment .note-list li {
  border-bottom: 1px solid #eaeaea;
  padding: 5px 0;
}
/* line 167, ../scss/module_ee/_account-rma.scss */
#rma_comment .note-list li:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 480px) {
  /* line 179, ../scss/module_ee/_account-rma.scss */
  .rma-view.col-2 {
    text-align: left;
  }
  /* line 183, ../scss/module_ee/_account-rma.scss */
  .rma-view.col-1, .rma-view.col-2 {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
  }
  /* line 188, ../scss/module_ee/_account-rma.scss */
  .rma-view.col-1 h3, .rma-view.col-2 h3 {
    margin-bottom: 0;
  }
}
/* ============================================ *
 * Store credit
 * ============================================ */
/* line 31, ../scss/module_ee/_store-credit.scss */
.storecredit .account-balance {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

/* line 38, ../scss/module_ee/_store-credit.scss */
body.customer-account .storecredit .data-table td.last {
  padding: 10px;
}

@media only screen and (max-width: 420px) {
  /* line 47, ../scss/module_ee/_store-credit.scss */
  .storecredit th,
  .storecredit td {
    font-size: 12px;
    padding: 5px;
  }

  /* line 54, ../scss/module_ee/_store-credit.scss */
  body.customer-account .storecredit .data-table td.last {
    padding: 5px;
  }
}
/* ============================================ *
 * Gift Registry
 * ============================================ */
/* line 29, ../scss/module_ee/_gift-registry.scss */
.gift-note {
  width: 99%;
}

/* line 32, ../scss/module_ee/_gift-registry.scss */
.btn-gift-registry {
  padding-top: 7px;
}
/* line 35, ../scss/module_ee/_gift-registry.scss */
.btn-gift-registry .input-box {
  margin: 0 0 7px;
}
/* line 38, ../scss/module_ee/_gift-registry.scss */
.btn-gift-registry select {
  width: 100%;
}

/* line 42, ../scss/module_ee/_gift-registry.scss */
.gr-manage-items {
  margin-bottom: 15px;
}
/* line 45, ../scss/module_ee/_gift-registry.scss */
.gr-manage-items input.qty {
  min-width: 45px;
}

/* line 49, ../scss/module_ee/_gift-registry.scss */
#event_date_trig {
  display: inline;
}

/* line 54, ../scss/module_ee/_gift-registry.scss */
.gift-registry-edit textarea,
.gift-registry-edit input {
  max-width: 100%;
  width: 365px;
}
/* line 60, ../scss/module_ee/_gift-registry.scss */
.gift-registry-edit label[for=type_id] {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 13px;
}
/* line 66, ../scss/module_ee/_gift-registry.scss */
.gift-registry-edit .add-row {
  width: 100%;
  max-width: 365px;
}
/* line 70, ../scss/module_ee/_gift-registry.scss */
.gift-registry-edit .add-row > p {
  float: right;
}
/* line 75, ../scss/module_ee/_gift-registry.scss */
.gift-registry-edit .btn-remove {
  float: right;
}

/* line 81, ../scss/module_ee/_gift-registry.scss */
.block-gr-search .form-alt > li {
  margin-top: 3.5px;
  margin-bottom: 3.5px;
}
/* line 85, ../scss/module_ee/_gift-registry.scss */
.block-gr-search button {
  margin-top: 7px;
}
/* line 88, ../scss/module_ee/_gift-registry.scss */
.block-gr-search .input-box > select {
  width: 100%;
}

/* line 93, ../scss/module_ee/_gift-registry.scss */
#gr-please-wait {
  margin-bottom: 10px;
  margin-left: 0;
}

/* line 99, ../scss/module_ee/_gift-registry.scss */
.gift-registry-view .subtitle {
  margin-top: 30px;
  font-size: 18px;
}
@media only screen and (max-width: 479px) {
  /* line 99, ../scss/module_ee/_gift-registry.scss */
  .gift-registry-view .subtitle {
    margin-top: 15px;
  }
}

/* line 110, ../scss/module_ee/_gift-registry.scss */
.gift-registry-items .btn-update {
  margin-top: 7px;
}
/* line 113, ../scss/module_ee/_gift-registry.scss */
.gift-registry-items textarea {
  min-width: 80px;
}

/* line 118, ../scss/module_ee/_gift-registry.scss */
.gr-type-specific-options img.v-middle {
  display: inline;
}

/* line 125, ../scss/module_ee/_gift-registry.scss */
#gr_search_form select,
#gr_search_email_form select,
#gr_search_id_form select {
  margin-bottom: 5px;
}
/* line 129, ../scss/module_ee/_gift-registry.scss */
#gr_search_form .buttons-set,
#gr_search_email_form .buttons-set,
#gr_search_id_form .buttons-set {
  max-width: 365px;
}
/* line 133, ../scss/module_ee/_gift-registry.scss */
#gr_search_form p.required,
#gr_search_email_form p.required,
#gr_search_id_form p.required {
  position: relative;
  top: -30px;
}

@media only screen and (max-width: 979px) {
  /* line 141, ../scss/module_ee/_gift-registry.scss */
  .gr-manage-items col.note-col,
  .gr-manage-items .head-note,
  .gr-manage-items .left-note,
  .gr-manage-items col.date-col,
  .gr-manage-items .head-add-date,
  .gr-manage-items .add-date {
    display: none;
  }

  /* line 151, ../scss/module_ee/_gift-registry.scss */
  .head-requested,
  .head-fulfilled {
    display: none;
  }

  /* line 156, ../scss/module_ee/_gift-registry.scss */
  .gift-image img {
    width: 68px;
  }

  /* line 160, ../scss/module_ee/_gift-registry.scss */
  .gift-registry-actions a {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 169, ../scss/module_ee/_gift-registry.scss */
  .gift-info {
    width: 55%;
  }

  /* line 172, ../scss/module_ee/_gift-registry.scss */
  .item-options {
    float: left;
  }

  /* line 175, ../scss/module_ee/_gift-registry.scss */
  .item-options ~ .gift-note {
    float: left;
    width: 35%;
    height: 10em;
    margin: 10px 0 0 5%;
  }

  /* line 181, ../scss/module_ee/_gift-registry.scss */
  .gift-registry-items {
    font-size: 12px;
  }
  /* line 184, ../scss/module_ee/_gift-registry.scss */
  .gift-registry-items td, .gift-registry-items th {
    padding: 7px 3.5px;
  }

  /* line 188, ../scss/module_ee/_gift-registry.scss */
  .gr-manage-items {
    font-size: 12px;
  }

  /* line 191, ../scss/module_ee/_gift-registry.scss */
  .gift-image,
  col.img-col {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 198, ../scss/module_ee/_gift-registry.scss */
  .gift-registry-actions a {
    font-size: 11px !important;
    white-space: normal !important;
  }

  /* line 202, ../scss/module_ee/_gift-registry.scss */
  .item-options ~ .gift-note {
    width: 99% !important;
  }

  /* line 206, ../scss/module_ee/_gift-registry.scss */
  .item-options {
    float: none;
  }

  /* line 209, ../scss/module_ee/_gift-registry.scss */
  .item-options ~ .gift-note {
    float: none;
    height: 10em;
    margin: 10px 0 0 5%;
  }

  /* line 214, ../scss/module_ee/_gift-registry.scss */
  .gr-manage-items {
    font-size: 11px;
  }
  /* line 217, ../scss/module_ee/_gift-registry.scss */
  .gr-manage-items input,
  .gr-manage-items dt,
  .gr-manage-items dl,
  .gr-manage-items a {
    font-size: inherit;
  }

  /* line 224, ../scss/module_ee/_gift-registry.scss */
  #giftregistry-search-results .location,
  #giftregistry-search-results .event-type {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  /* line 235, ../scss/module_ee/_gift-registry.scss */
  .gr-manage-items .gift-secondary,
  .gift-registry-items .gift-secondary {
    display: none;
  }

  /* line 240, ../scss/module_ee/_gift-registry.scss */
  #event_date_trig {
    display: inline;
    float: right;
    margin-top: 7px;
  }

  /* line 246, ../scss/module_ee/_gift-registry.scss */
  .giftregistry-search-results {
    font-size: 11px;
  }
  /* line 249, ../scss/module_ee/_gift-registry.scss */
  .giftregistry-search-results td,
  .giftregistry-search-results th {
    padding: 7px 3.5px;
    vertical-align: top;
  }

  /* line 257, ../scss/module_ee/_gift-registry.scss */
  .gr-manage-items td,
  .gr-manage-items th,
  .gift-registry-items td,
  .gift-registry-items th {
    padding: 7px 3.5px;
    vertical-align: top;
  }

  /* line 265, ../scss/module_ee/_gift-registry.scss */
  .giftregistry-table td,
  .giftregistry-table th {
    font-size: 11px;
  }

  /* line 274, ../scss/module_ee/_gift-registry.scss */
  #gr_search_form p.required,
  #gr_search_email_form p.required,
  #gr_search_id_form p.required {
    padding-bottom: 15px;
    position: static;
  }
}
/* ============================================ *
 * Reward
 * ============================================ */
/* line 30, ../scss/module_ee/_reward.scss */
.rewards {
  margin-bottom: 30px;
}

/* line 34, ../scss/module_ee/_reward.scss */
.reward-message {
  background-color: #0093d6;
  display: block;
  margin: 5px 0;
  padding: 3px 10px;
  color: #E6E6E6;
  font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
}
/* line 42, ../scss/module_ee/_reward.scss */
.reward-message.reward-checkout {
  margin-bottom: 10px;
}
/* line 46, ../scss/module_ee/_reward.scss */
.reward-message p {
  display: inline;
  font-size: 13px;
}
/* line 50, ../scss/module_ee/_reward.scss */
.reward-message p.limit {
  display: block;
  font-size: 12px;
  font-style: italic;
}
/* line 57, ../scss/module_ee/_reward.scss */
.reward-message a {
  color: #E6E6E6;
  text-decoration: underline;
}

/* line 64, ../scss/module_ee/_reward.scss */
.my-rewards h2 {
  position: relative;
  line-height: 1.7;
}
/* line 68, ../scss/module_ee/_reward.scss */
.my-rewards h2 .separator {
  display: none;
}
/* line 72, ../scss/module_ee/_reward.scss */
.my-rewards h2 a {
  white-space: nowrap;
  float: right;
  margin: 0 0 5px 10px;
}
/* line 79, ../scss/module_ee/_reward.scss */
.my-rewards .box {
  margin-bottom: 20px;
}
/* line 82, ../scss/module_ee/_reward.scss */
.my-rewards .box.info-box {
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 10px;
}
/* line 86, ../scss/module_ee/_reward.scss */
.my-rewards .box.info-box dt {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  text-transform: none;
}
@media only screen and (max-width: 979px) {
  /* line 97, ../scss/module_ee/_reward.scss */
  .my-rewards #reward-history small.nobr {
    white-space: normal;
  }
}
@media only screen and (max-width: 599px) {
  /* line 105, ../scss/module_ee/_reward.scss */
  .my-rewards #reward-history small {
    display: none;
  }
  /* line 109, ../scss/module_ee/_reward.scss */
  .my-rewards #reward-history th.balance,
  .my-rewards #reward-history td.balance,
  .my-rewards #reward-history th.date,
  .my-rewards #reward-history td.date {
    display: none;
  }
}

/* ============================================ *
 * Gift Message Styles
 * ============================================ */
/* line 30, ../scss/module_ee/_gift-message.scss */
.gift-message-form .inner-box > div {
  clear: both;
  width: 100%;
}

/* line 34, ../scss/module_ee/_gift-message.scss */
#allow-gift-options-for-items-container,
#allow-gift-messages-for-order-container,
#allow-gift-options-for-order-container {
  width: 100%;
  float: left;
  display: block;
}

/* line 41, ../scss/module_ee/_gift-message.scss */
.gift-message-form .gift-item .fieldset {
  float: left;
  width: 100%;
  margin-left: 0px !important;
}

/* line 46, ../scss/module_ee/_gift-message.scss */
.gift-message-form .inner-box > div {
  clear: both;
  width: 100%;
}

/* line 50, ../scss/module_ee/_gift-message.scss */
.gift-wrapping-form .select {
  max-width: 300px;
}

/* line 53, ../scss/module_ee/_gift-message.scss */
.gift-item .product-img-box > * {
  float: left;
  clear: both;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  /* line 59, ../scss/module_ee/_gift-message.scss */
  .gift-message-form .gift-item .product-img-box {
    float: left;
    width: 140px;
  }
}
/* ============================================ *
 * Enterprise Wishlist Styles
 * ============================================ */
/* Customer Account Styles */
/* line 32, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist_edit_action_container {
  left: 0;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 99999;
}
/* line 39, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist_edit_action_container .popup-block {
  background: #F4F4F4;
  border: 1px solid #CCCCCC;
  display: block;
  margin: 0 auto;
  padding: 2% 20px;
  width: 100%;
  max-width: 500px;
  min-width: 320px;
}
/* line 49, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist_edit_action_container .popup-block .block-title {
  padding-top: 0;
  border-top: 0;
}
/* line 53, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist_edit_action_container .popup-block .block-title .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* line 63, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-actions-container {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
/* line 68, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-actions-container .sub-title {
  float: left;
}
/* line 71, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-actions-container .sub-title .item-count {
  text-transform: none;
  margin-left: 10px;
}
/* line 76, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-actions-container .sub-title .wishlist-edit {
  margin-left: 10px;
  font-size: 15px;
}
/* line 82, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-actions-container .btn-create {
  float: right;
}

/* line 88, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  font-size: 16px;
}
/* line 94, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption .sub-title {
  float: left;
  padding-bottom: 5px;
}
/* line 98, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption .sub-title:after {
  content: ':';
}
/* line 103, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-select,
.wishlist-management .table-caption #wishlists-move,
.wishlist-management .table-caption #wishlists-copy {
  float: left;
  margin-left: 10px;
  position: relative;
  padding-bottom: 5px;
}
/* line 111, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-select .split-button-title,
.wishlist-management .table-caption #wishlists-move .split-button-title,
.wishlist-management .table-caption #wishlists-copy .split-button-title {
  display: inline;
}
/* line 115, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-select .change,
.wishlist-management .table-caption #wishlists-move .change,
.wishlist-management .table-caption #wishlists-copy .change {
  margin-left: 10px;
  font-size: 15px;
}
/* line 120, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-select .list-container,
.wishlist-management .table-caption #wishlists-move .list-container,
.wishlist-management .table-caption #wishlists-copy .list-container {
  width: auto;
  left: auto;
  right: 0;
}
/* line 125, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-select .list-container li,
.wishlist-management .table-caption #wishlists-move .list-container li,
.wishlist-management .table-caption #wishlists-copy .list-container li {
  padding: 2px 10px;
}
/* line 128, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-select .list-container li a,
.wishlist-management .table-caption #wishlists-select .list-container li span,
.wishlist-management .table-caption #wishlists-move .list-container li a,
.wishlist-management .table-caption #wishlists-move .list-container li span,
.wishlist-management .table-caption #wishlists-copy .list-container li a,
.wishlist-management .table-caption #wishlists-copy .list-container li span {
  font-size: 15px;
  padding: 0;
}
/* line 134, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-select .list-container li:last-child,
.wishlist-management .table-caption #wishlists-move .list-container li:last-child,
.wishlist-management .table-caption #wishlists-copy .list-container li:last-child {
  border-bottom: 0;
}
/* line 141, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-move,
.wishlist-management .table-caption #wishlists-copy {
  float: right;
}
/* line 145, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management .table-caption #wishlists-move .split-button-title,
.wishlist-management .table-caption #wishlists-copy .split-button-title {
  display: none;
}
/* line 153, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-management + .fieldset .buttons-set button {
  margin-bottom: 10px;
}

/* line 160, ../scss/module_ee/_enterprise-wishlist.scss */
.fieldset .wishlist-empty {
  margin-bottom: 30px;
}

/* line 166, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist-table .item-manage .split-button {
  float: right;
  margin-left: 20px;
  margin-bottom: 3px;
}
/* line 171, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist-table .item-manage .split-button .change:after {
  top: 5px;
}
/* line 175, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist-table .item-manage .split-button .list-container {
  left: auto;
  right: 0;
  width: auto;
}
/* line 180, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist-table .item-manage .split-button .list-container li span {
  padding: 0 10px;
}
/* line 185, ../scss/module_ee/_enterprise-wishlist.scss */
#wishlist-table .item-manage .split-button ~ .btn-update {
  clear: right;
  float: right;
  margin-top: 10px;
}

@media only screen and (max-width: 479px) {
  /* line 195, ../scss/module_ee/_enterprise-wishlist.scss */
  body.customer-account .my-account .my-wishlist .fieldset {
    margin-top: 10px;
  }

  /* line 201, ../scss/module_ee/_enterprise-wishlist.scss */
  #wishlist-table .item-manage .split-button {
    float: left;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 15px;
  }
  /* line 207, ../scss/module_ee/_enterprise-wishlist.scss */
  #wishlist-table .item-manage .split-button .list-container {
    left: 0;
    right: auto;
  }
  /* line 212, ../scss/module_ee/_enterprise-wishlist.scss */
  #wishlist-table .item-manage .split-button ~ .btn-update {
    clear: left;
    float: left;
  }
  /* line 219, ../scss/module_ee/_enterprise-wishlist.scss */
  #wishlist-table thead {
    display: none;
  }

  /* line 224, ../scss/module_ee/_enterprise-wishlist.scss */
  .customer-wishlist-item-info .item-manage {
    content: '';
    display: table;
    clear: both;
    width: 100%;
  }
}
/* line 231, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-search-view h2.subtitle {
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 235, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-search-view .info-table .nobr {
  margin-right: 30px;
}
/* line 238, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-search-view #wishlist-table.clean-table td {
  max-width: 100%;
}
/* line 240, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-search-view #wishlist-table.clean-table td p.qty {
  text-align: center;
  width: 100%;
}
/* line 244, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-search-view #wishlist-table.clean-table td .price-box {
  margin: 0;
}
/* line 248, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-search-view #wishlist-table.clean-table th {
  padding-left: 2px;
  padding-right: 2px;
}
/* line 252, ../scss/module_ee/_enterprise-wishlist.scss */
.wishlist-search-view .truncated .truncated_full_value .item-options {
  left: -40px;
}

@media only screen and (max-width: 768px) {
  /* line 259, ../scss/module_ee/_enterprise-wishlist.scss */
  .wishlist-search-view #wishlist-table.clean-table td {
    max-width: 100px;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 599px) {
  /* line 268, ../scss/module_ee/_enterprise-wishlist.scss */
  .wishlist-search-view #wishlist-table.clean-table td {
    padding: 6px 10px;
  }
  /* line 271, ../scss/module_ee/_enterprise-wishlist.scss */
  .wishlist-search-view #wishlist-table.clean-table td p.qty {
    text-align: left;
  }
  /* line 274, ../scss/module_ee/_enterprise-wishlist.scss */
  .wishlist-search-view #wishlist-table.clean-table td .price-box {
    margin: 0;
    float: left;
    width: 100%;
    margin-bottom: 15px;
  }
  /* line 281, ../scss/module_ee/_enterprise-wishlist.scss */
  .wishlist-search-view .customer-wishlist-item-comment {
    width: 100%;
    clear: both;
  }
}
@media only screen and (max-width: 479px) {
  /* line 290, ../scss/module_ee/_enterprise-wishlist.scss */
  .wishlist-search-view #wishlist-table.clean-table td {
    max-width: 100%;
  }
}
/* Store Front Styles */
/* line 298, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button {
  position: relative;
}
/* line 301, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .split-button-title {
  display: none;
}
/* line 305, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .change {
  padding-right: 13px;
  min-height: 25px;
  position: relative;
}
/* line 310, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .change:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #0093d6;
  border-bottom: none;
  content: '';
  right: 0;
  top: 8px;
}
/* line 317, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .change.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #0093d6;
  border-top: none;
}
/* line 322, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container {
  display: none;
  width: 120%;
  max-width: 320px;
  min-width: 175px;
  position: absolute;
  left: -10%;
  top: 100%;
  background: #FBFBFB;
  border: 1px solid #CCCCCC;
  text-align: center;
  z-index: 99999999;
}
/* line 335, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li {
  border-bottom: 1px solid #EDEDED;
}
/* line 338, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li span,
.split-button .list-container li a {
  color: #0093d6;
  font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  white-space: normal;
  text-transform: none;
}
/* line 349, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li span:lang(zh),
.split-button .list-container li a:lang(zh) {
  font-family: "新宋体", NSimSun, Tahoma, Arial, sans-serif;
}
/* line 352, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li span:lang(ko),
.split-button .list-container li a:lang(ko) {
  font-family: "돋음", Arial, sans-serif;
}
/* line 355, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li span:lang(ja),
.split-button .list-container li a:lang(ja) {
  font-family: "メイリオ", "Hiragino Kaku Gothic Pro", Meiryo, "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}
/* line 359, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li span:hover,
.split-button .list-container li a:hover {
  color: #005e8a;
}
/* line 365, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li.new {
  background-color: #EDEDED;
}
/* line 368, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button .list-container li.new span:before,
.split-button .list-container li.new a:before {
  content: '+ ';
}
/* line 375, ../scss/module_ee/_enterprise-wishlist.scss */
.split-button.active .list-container {
  display: block;
}

/*change action product grids color for special category*/
/* line 384, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-honey .split-button .change:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #ebb70b;
  border-bottom: none;
}
/* line 388, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-honey .split-button .change.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #ebb70b;
  border-top: none;
}

/* line 397, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-baby .split-button .change:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #E299A0;
  border-bottom: none;
}
/* line 401, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-baby .split-button .change.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #E299A0;
  border-top: none;
}

/* line 410, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-beauty .split-button .change:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #BF6066;
  border-bottom: none;
}
/* line 414, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-beauty .split-button .change.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #BF6066;
  border-top: none;
}

/* line 423, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-toy .split-button .change:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #a3e5f6;
  border-bottom: none;
}
/* line 427, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-toy .split-button .change.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #a3e5f6;
  border-top: none;
}

/* line 436, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-health .split-button .change:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #2D865A;
  border-bottom: none;
}
/* line 440, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-health .split-button .change.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #2D865A;
  border-top: none;
}

/* line 449, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-sheepskin .split-button .change:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #d7c187;
  border-bottom: none;
}
/* line 453, ../scss/module_ee/_enterprise-wishlist.scss */
.cms-category-sheepskin .split-button .change.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #d7c187;
  border-top: none;
}

/* line 462, ../scss/module_ee/_enterprise-wishlist.scss */
.products-grid .split-button .list-container {
  width: 115%;
}
/* line 466, ../scss/module_ee/_enterprise-wishlist.scss */
.products-grid .split-button .list-container li span,
.products-grid .split-button .list-container li a {
  font-size: 12px;
}

/* line 477, ../scss/module_ee/_enterprise-wishlist.scss */
.products-list .split-button .list-container {
  width: auto;
}

/* line 485, ../scss/module_ee/_enterprise-wishlist.scss */
.product-view .split-button .change {
  padding-right: 20px;
}
/* line 488, ../scss/module_ee/_enterprise-wishlist.scss */
.product-view .split-button .change:after {
  right: 7px;
}
/* line 493, ../scss/module_ee/_enterprise-wishlist.scss */
.product-view .split-button .list-container {
  width: auto;
}
/* line 496, ../scss/module_ee/_enterprise-wishlist.scss */
.product-view .split-button .list-container li {
  float: none;
  margin-bottom: 0;
}

@media only screen and (min-width: 601px) {
  /* line 507, ../scss/module_ee/_enterprise-wishlist.scss */
  .products-list .split-button .list-container {
    left: auto;
    right: -10%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 518, ../scss/module_ee/_enterprise-wishlist.scss */
  .products-list .split-button .list-container {
    left: -10%;
    right: auto;
  }
}
@media only screen and (max-width: 599px) {
  /* line 529, ../scss/module_ee/_enterprise-wishlist.scss */
  .cart-table .split-button .list-container {
    width: auto;
    top: auto;
    bottom: 0;
    left: 100%;
  }
}
/* ============================================ *
 * Customer Order by SKU
 * ============================================ */
/* line 30, ../scss/module_ee/_customer-order.scss */
.widget-addbysku td.last .input-box {
  float: left;
}

/* line 33, ../scss/module_ee/_customer-order.scss */
.widget-addbysku .btn-remove {
  cursor: pointer;
  float: left;
  margin-top: 7px;
  margin-left: 5px;
}

/* line 39, ../scss/module_ee/_customer-order.scss */
.widget-addbysku .add-row {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  /* line 43, ../scss/module_ee/_customer-order.scss */
  .widget-addbysku input[type="text"] {
    float: left;
    width: 100%;
  }

  /* line 47, ../scss/module_ee/_customer-order.scss */
  .widget-addbysku .input-text.qty {
    width: 50px;
  }
}
/* ============================================ *
 * Catalog Event
 * ============================================ */
/* line 30, ../scss/module_ee/_catalog-event.scss */
.event-container {
  clear: both;
  border: 1px solid #0093d6;
  background: #EAF8FF;
  position: relative;
  z-index: 2;
  border-width: 1px 1px;
  min-height: 59px;
  margin: 7px 0px 20px;
}
/* line 40, ../scss/module_ee/_catalog-event.scss */
.event-container:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #0093d6;
  border-bottom: none;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}
/* line 48, ../scss/module_ee/_catalog-event.scss */
.event-container .event {
  padding: 15px 10px 28px;
  margin-bottom: -18px;
  min-height: 52px;
  line-height: 30px;
  text-align: center;
  width: auto;
  position: relative;
  z-index: 2;
  border-bottom: 0 !important;
}
/* line 59, ../scss/module_ee/_catalog-event.scss */
.event-container .event .event-ticker {
  display: inline;
  font-size: 28px;
  height: auto;
}
/* line 64, ../scss/module_ee/_catalog-event.scss */
.event-container .event .event-ticker span {
  line-height: 50px;
  height: 50px;
  padding: 0;
}
/* line 72, ../scss/module_ee/_catalog-event.scss */
.event-container .container {
  display: inline;
  margin: 0;
  padding: 0;
  background: none;
}
/* line 79, ../scss/module_ee/_catalog-event.scss */
.event-container .status {
  display: inline;
  margin: 0 3px 0 0;
  background: none;
  font-size: 22px;
}
/* line 86, ../scss/module_ee/_catalog-event.scss */
.event-container .event-dates {
  display: inline;
  font-size: 22px;
  height: auto;
}
/* line 91, ../scss/module_ee/_catalog-event.scss */
.event-container .event-dates div,
.event-container .event-dates p {
  display: inline;
}
/* line 96, ../scss/module_ee/_catalog-event.scss */
.event-container .event-dates .time-part {
  font-size: 14px;
}

/* line 102, ../scss/module_ee/_catalog-event.scss */
.events-panel {
  border-top: 1px solid #eaeaea;
  float: left;
  width: 100%;
  margin-top: 10px;
}
/* line 108, ../scss/module_ee/_catalog-event.scss */
.events-panel .event-item {
  float: left;
  width: 100%;
  margin: 10px 0;
}
/* line 113, ../scss/module_ee/_catalog-event.scss */
.events-panel .event-item .status {
  font-size: 18px;
}
/* line 117, ../scss/module_ee/_catalog-event.scss */
.events-panel .event-item .event-dates, .events-panel .event-item .event-button, .events-panel .event-item .event-ticker {
  margin-bottom: 10px;
}
/* line 121, ../scss/module_ee/_catalog-event.scss */
.events-panel .event-item .category-show {
  border: 1px solid #eaeaea;
  float: left;
  width: 100%;
}
/* line 126, ../scss/module_ee/_catalog-event.scss */
.events-panel .event-item .category-show img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* line 136, ../scss/module_ee/_catalog-event.scss */
  .event-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* Category Event Module - Upcoming */
/* line 143, ../scss/module_ee/_catalog-event.scss */
.container-upcoming {
  background: #F4F4F4;
  border-color: #eaeaea;
}

/* line 147, ../scss/module_ee/_catalog-event.scss */
.container-upcoming:after {
  border-top-color: #eaeaea;
}

/* Category Event Module - Closed */
/* line 152, ../scss/module_ee/_catalog-event.scss */
.container-closed {
  background: #AAAAAA;
  border-color: #777777;
}

/* line 156, ../scss/module_ee/_catalog-event.scss */
.container-closed:after {
  border-top-color: #777777;
}
