<!--@subject Mycubancigar: [Payment Notification]: Order #{{var order_id}} @-->

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <p>이것은 제 이메일 통지입니다</p>
                        <p>당신이 당신의 주문을 완료 할 경우, 결제를 완료하시기 바랍니다</p>
                        <p>지금 지불, 그냥 클릭 <a href="{{var pay_url}}">지금 지불</a> 및 지불 당신의 순서를 선택.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>