/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* line 12, ../scss/styles_my.scss */
.page-header:not(.specialty-header) .logo {
  top: 10px;
  min-height: 50px;
  margin-bottom: 30px;
}
/* line 16, ../scss/styles_my.scss */
.page-header:not(.specialty-header) .logo .large, .page-header:not(.specialty-header) .logo .small {
  max-width: 116px;
  height: auto;
  width: 100%;
}
/* line 21, ../scss/styles_my.scss */
.page-header:not(.specialty-header) .logo .logo-text {
  font-family: Arial, sans-serif;
  top: 25px;
  font-weight: 400;
  font-size: 16px;
  left: 126px;
}
@media only screen and (min-width: 769px) {
  /* line 21, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .logo .logo-text {
    left: 116px;
  }
}
/* line 32, ../scss/styles_my.scss */
.page-header:not(.specialty-header) .skip-link {
  width: 25%;
}
/* line 35, ../scss/styles_my.scss */
.page-header:not(.specialty-header) #header-search.skip-active,
.page-header:not(.specialty-header) #header-account.skip-active {
  top: 107px;
}

@media only screen and (max-width: 768px) {
  /* line 43, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .switcher-form-mb {
    top: 50px;
  }
}
@media only screen and (min-width: 450px) {
  /* line 50, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .logo {
    margin-bottom: 0;
  }
  /* line 53, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .switcher-form-mb {
    top: 13px;
  }
}
@media only screen and (min-width: 769px) {
  /* line 61, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .nav-primary li.level0 ul.level0 {
    width: 646px;
  }
  /* line 64, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) #header-search {
    float: right;
    width: 62%;
  }
  /* line 68, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .skip-link {
    width: 100%;
  }
  /* line 71, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .skip-links {
    float: right;
    padding-left: 0;
    clear: none;
    width: 31%;
  }
  /* line 76, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .skip-links .skip-nav-wrapper {
    float: right;
    margin-right: 10px;
    position: relative;
  }
  /* line 80, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .skip-links .skip-nav-wrapper #header-nav {
    top: 31px;
    left: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1250px) {
  /* line 87, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .nav-primary li.level0 ul.level0 {
    width: 609px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1020px) {
  /* line 92, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .nav-primary li.level0 ul.level0 {
    width: 500px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 865px) {
  /* line 97, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .skip-links {
    float: left;
  }
  /* line 99, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .skip-links .skip-nav-wrapper {
    float: left;
  }
  /* line 103, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) #header-search {
    width: 66%;
  }
  /* line 106, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .nav-primary li.level0 ul.level0 {
    left: 214px;
    width: 479px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 116, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .skip-links {
    width: 23%;
  }
  /* line 119, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) #header-search {
    width: 53%;
  }
  /* line 122, ../scss/styles_my.scss */
  .page-header:not(.specialty-header) .top-link-header {
    margin-bottom: 0;
  }
}
