// Mixins

@import "mixin/breakpoint";
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 768px;
$bp-large: 979px;
$bp-xlarge: 1199px;
$bp-xxlarge: 1200px;

.page-header:not(.specialty-header){
  .logo{
    top: 10px;
    min-height: 50px;
    margin-bottom: 30px;
    .large, .small{
      max-width:116px;
      height: auto;
      width: 100%;
    }
    .logo-text{
      font-family: Arial, sans-serif;
      top: 25px;
      font-weight: 400;
      font-size: 16px;
      left: 126px;
      @include bp(min-width, $bp-medium+1){
        left: 116px;
      }
    }
  }
  .skip-link{
    width: 25%;
  }
  #header-search.skip-active,
  #header-account.skip-active{
    top: 107px;
  }
}

@include bp(max-width, $bp-medium ){
  .page-header:not(.specialty-header){
    .switcher-form-mb{
      top: 50px;
    }
  }
}
@include bp(min-width, 450px){
  .page-header:not(.specialty-header){
    .logo{
      margin-bottom: 0;
    }
    .switcher-form-mb{
      top: 13px;
    }
  }
}

@include bp(min-width, $bp-medium + 1){
  .page-header:not(.specialty-header){
    .nav-primary li.level0 ul.level0{
      width: 646px;
    }
    #header-search{
      float: right;
      width: 62%;
    }
    .skip-link{
      width: 100%;
    }
    .skip-links{
      float: right;
      padding-left: 0;
      clear: none;
      width: 31%;
      .skip-nav-wrapper{
        float: right;
        margin-right: 10px;
        position: relative;
        #header-nav{
          top: 31px;
          left: 0;
        }
      }
    }
    @include bp(max-width, 1250px){
      .nav-primary li.level0 ul.level0{
        width: 609px;
      }
    }
    @include bp(max-width, 1020px){
      .nav-primary li.level0 ul.level0{
        width: 500px;
      }
    }
    @include bp(max-width, 865px){
      .skip-links{
        float: left;
        .skip-nav-wrapper{
          float: left;
        }
      }
      #header-search{
        width: 66%;
      }
      .nav-primary li.level0 ul.level0{
        left: 214px;
        width: 479px;
      }
    }
  }
}

@include bp(min-width, $bp-xlarge + 1){
  .page-header:not(.specialty-header) {
    .skip-links{
      width: 23%;
    }
    #header-search{
      width: 53%;
    }
    .top-link-header{
      margin-bottom: 0;
    }
  }
}
