$mq-support: true;

@import "var";

@import "mixin/breakpoint";
@import "mixin/clearfix";
@import "mixin/not-selectable";
@import "mixin/typography";
@import "module/review";
@import "module/checkout-onepage";
@import "module/customer";
//
.link-header-content.link-wishlist a{
  padding-top: 7px !important;
}
.pages li.btn-prev a,.pages li.paging-next a{
  &:hover{
    color: #a2a2a2 !important;
  }
}
.cms-category-honey{
  .minicart-wrapper .minicart-actions .checkout-types li .checkout-button{
    color: #fff !important;
  }
  .configurable-swatch-list li a:hover{
    color: $c-honey !important;
  }
  .header-minicart {
    .info-wrapper td .price,
    .mini-products-list li .product-details > a,.mini-products-list li .product-details .product-name a:hover,.mini-products-list li .product-details .truncated > a,.subtotal .price{
      color: $c-honey;
    }
  }
}
.cms-category-baby{
  .minicart-wrapper .minicart-actions .checkout-types li .checkout-button{
    color: #fff !important;
  }
  .configurable-swatch-list li a:hover{
    color: $c-baby !important;
  }
  .header-minicart {
    .info-wrapper td .price,
    .mini-products-list li .product-details > a,.mini-products-list li .product-details .product-name a:hover,.mini-products-list li .product-details .truncated > a,.subtotal .price{
      color: $c-baby;
    }
  }
}
.cms-category-beauty{
  .minicart-wrapper .minicart-actions .checkout-types li .checkout-button{
    color: #fff !important;
  }
  .configurable-swatch-list li a:hover{
    color: $c-beauty !important;
  }
  .header-minicart {
    .info-wrapper td .price,
    .mini-products-list li .product-details > a,.mini-products-list li .product-details .product-name a:hover,.mini-products-list li .product-details .truncated > a,.subtotal .price{
      color: $c-beauty;
    }
  }
}
.cms-category-health{
  .minicart-wrapper .minicart-actions .checkout-types li .checkout-button{
    color: #fff !important;
  }
  .configurable-swatch-list li a:hover{
    color: $c-health !important;
  }
  .header-minicart {
    .info-wrapper td .price,
    .mini-products-list li .product-details > a,.mini-products-list li .product-details .product-name a:hover,.mini-products-list li .product-details .truncated > a,.subtotal .price{
      color: $c-health;
    }
  }
}
.cms-category-toy{
  .minicart-wrapper .minicart-actions .checkout-types li .checkout-button{
    color: #fff !important;
  }
  .configurable-swatch-list li a:hover{
    color: $c-toy !important;
  }
  .header-minicart {
    .info-wrapper td .price,
    .mini-products-list li .product-details > a,.mini-products-list li .product-details .product-name a:hover,.mini-products-list li .product-details .truncated > a,.subtotal .price{
      color: $c-toy;
    }
  }
}
.cms-category-sheepskin{
  .minicart-wrapper .minicart-actions .checkout-types li .checkout-button{
    color: #fff !important;
  }
  .configurable-swatch-list li a:hover{
    color: $c-sheepskin !important;
  }
  .header-minicart {
    .info-wrapper td .price,
    .mini-products-list li .product-details > a,.mini-products-list li .product-details .product-name a:hover,.mini-products-list li .product-details .truncated > a,.subtotal .price{
      color: $c-sheepskin;
    }
  }
}
.header-minicart .minicart-actions .cart-link {
  line-height: 13px;
}
.header-minicart .block-subtitle span {
  font-size: 12px;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-weight: 500;
}
.header-minicart .block-subtitle {
  color: #424242;
  font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
  line-height: 20px;
  padding: 10px 20px 5px 25px;
  margin-bottom: 0;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  border-bottom: 1px solid #eaeaea;
  letter-spacing: -0.3px;
}
#narrow-by-list dd .swatch-label img {
  box-sizing: content-box;
  display: inline-block;
  text-align: center;
  height: 100%;
  border: 1px solid #e1e1e1;
  padding: 2px;
}
#narrow-by-list dd .swatch-label {
  white-space: inherit;
  text-align: left;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
}
#narrow-by-list dd .configurable-swatch-list li {
  margin: 0;
  width: 100%;
  display: block;
  padding-left: 10px;
  float: none;
}
#narrow-by-list dd .swatch-link {
  border: none;
  margin: 0;
  text-align: left;
  top: 4px;
}
#narrow-by-list dd .swatch-link .count {
  float: right;
  position: relative;
  left: -4px;
  font-size: 12px;
  font-weight: normal;
}
.input-text:focus {
  border: 1px solid #bcbcbc !important;
}
.configurable-swatch-list .not-available .swatch-link {
  border-color: #EDEDED;
  position: relative;
}
.configurable-swatch-list .hover .swatch-link, .configurable-swatch-list .selected .swatch-link, .swatch-link:hover {
  border: 1px solid #424242;
}
.configurable-swatch-list .not-available .swatch-label {
  color: #aaa;
  background: #fff;
}
.swatch-link.has-image .swatch-label {
  position: relative;
}
.swatch-label {
  margin: 0;
  white-space: nowrap;
}
.configurable-swatch-list .not-available .x {
  display: block;
}
.product-view .product-options .swatch-attr label{
  display: block;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 600;
}
.swatch-link .x {
  display: none;
  text-indent: -999em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../images/bg_x.png) center no-repeat transparent;
  z-index: 10;
}
.configurable-swatch-list li {
  float: left;
  zoom: 1;
}
.product-view #product-options-wrapper .swatch-link {
  height: inherit !important;
  width: inherit !important;
}
.swatch-link {
  border: 1px solid #e1e1e1;
  margin: 0 0 3px;
  padding: 3px;
}
.swatch-link, .swatch-label {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #424242;
  text-decoration: none;
  box-sizing: content-box;
}
#product-options-wrapper .configurable-swatch-list li {
  margin-right: 7px;
  margin-bottom: 5px;
}
.product-view .swatch-attr-product {
  float: left;
  width: 50%;
  .product-options{
    dd {
      padding: 0 0 10px 0;
      margin: 0 0 5px;
      .input-box {
        width: auto;
        height: auto;
      }
    }
    .swatch-attr {
      display: block;
      border: 0;
      margin-right: 10px;
    }
  }
}
.configurable-swatch-list .not-available .swatch-link.has-image img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.contacts-index-index{
  #contactForm{
    padding: 0 30px;
  }
  .buttons-set{
    max-width: 100%;
    text-align: center;
    padding-top: 26px;
    padding-right: 30px;
  }
  #contactForm{
    textarea{
      max-width: 678px;
    }
  }
}
.page-sitemap{
  .sitemap{
    li{
      &.level-0{
        width: 25%;
        float: left;
        display: inline-block;
        border-bottom: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        padding: 19px 20px 30px 30px;
        background: #fff;
        > a{
          font-size: 20px;
          font-weight: 300;
        }
        ul{
          li{
            &.level-1{
              > a{
                font-size: 12px;
                font-weight: 700;
                padding-left: 12px;
              }
            }
            &.level-2{
              padding-left: 25px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
.cms-page-view,.cms-no-route{
  .main-content{
    background: #fff;
    overflow: hidden;
  }
  .col3-set{
    .col-1{
      margin-bottom: 30px;
      border-bottom: 1px solid #e2e2e2;
      overflow: hidden;
      padding: 20px 30px;
      .button-item{
        text-align: center;
        padding: 20px 0;
        margin-bottom: 10px;
      }
    }
    .col-2{
      padding: 0 30px 30px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .col-3{
      content: '';
      display: table;
      clear: both;
      padding: 0 30px 30px;
      .column{
        width: 33.333%;
        float: left;
        padding-right: 35px;
      }
    }
  }
}
body.wishlist-index-index .my-account{
  .my-wishlist{
    width: 100%;
    padding: 0;
    float: left;
    #wishlist-table{
      .cart-cell{
        text-align: center;
        margin-bottom: 10px;

      }
      .price-box{
        .price{
          color: #424242;
          font-size: 18px;
          font-weight: normal;
        }
      }
      td {
        &.customer-wishlist-item-price {
          width: 120px;
          text-align: center;
        }
        &.customer-wishlist-item-cart{
          .btn-cart{
            border: none;
            background: #0093d6;
            margin-bottom: 5px;
          }
          .button2{
            font-size: 16px;
            margin-bottom: 10px;
            padding: 5px;
            width: 100%;
            display: inline-block;
            text-align: center;
          }
        }
      }
      .item-manage{
        text-align: right;
        max-width: 450px;
        padding-top: 5px;
        .button2{
          font-size: 12px;
          padding: 3px 5px;
          border: none;
          span{
            font-size: 12px;
            font-weight: normal;
            color: #0093d6;
          }
        }
      }
      &.clean-table{
        td{
          padding: 35px 10px;
          vertical-align: top;
        }
        .btn-cart{
          width: 100%;
        }
        text-transform: uppercase;
        width: 100%;
        thead{
          tr{
            th{
              display: none;
            }
          }
        }
        tbody{
          tr{
            border-bottom: 1px solid #e2e2e2;
            border-top: 1px solid #e2e2e2;
            padding: 0;
          }
        }
      }
    }
  }
  .buttons-set2{
    .btn-update{
      float: right;
      line-height: 21px;
      padding: 7px 25px;
      margin-right: 10px;
    }
  }
}

body.cms-category-honey.wishlist-index-index .my-account {
  .my-wishlist {
    #wishlist-table {
      td {
        &.customer-wishlist-item-cart {
          .btn-cart {
            background: $c-honey;
          }
        }
      }
      .item-manage{
        .button2{
          span{
            color: $c-honey;
          }
        }
      }
    }
  }
}

body.cms-category-baby.wishlist-index-index .my-account {
  .my-wishlist {
    #wishlist-table {
      td {
        &.customer-wishlist-item-cart {
          .btn-cart {
            background: $c-baby;
          }
        }
      }
      .item-manage{
        .button2{
          span{
            color: $c-baby;
          }
        }
      }
    }
  }
}

body.cms-category-beauty.wishlist-index-index .my-account {
  .my-wishlist {
    #wishlist-table {
      td {
        &.customer-wishlist-item-cart {
          .btn-cart {
            background: $c-beauty;
          }
        }
      }
      .item-manage{
        .button2{
          span{
            color: $c-beauty;
          }
        }
      }
    }
  }
}

body.cms-category-health.wishlist-index-index .my-account {
  .my-wishlist {
    #wishlist-table {
      td {
        &.customer-wishlist-item-cart {
          .btn-cart {
            background: $c-health;
          }
        }
      }
      .item-manage{
        .button2{
          span{
            color: $c-health;
          }
        }
      }
    }
  }
}

body.cms-category-toy.wishlist-index-index .my-account {
  .my-wishlist {
    #wishlist-table {
      td {
        &.customer-wishlist-item-cart {
          .btn-cart {
            background: $c-toy;
          }
        }
      }
      .item-manage{
        .button2{
          span{
            color: $c-toy;
          }
        }
      }
    }
  }
}

body.cms-category-sheepskin.wishlist-index-index .my-account {
  .my-wishlist {
    #wishlist-table {
      td {
        &.customer-wishlist-item-cart {
          .btn-cart {
            background: $c-sheepskin;
          }
        }
      }
      .item-manage{
        .button2{
          span{
            color: $c-sheepskin;
          }
        }
      }
    }
  }
}
.order-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #EDEDED;
  width: 100%;
  margin-bottom: 30px;
  dt {
    margin-right: 20px;
  }
}
.order-info dt, .order-info dd, .order-info ul, .order-info li {
  display: inline;
}
.order-info li:first-child {
  margin-left: 0;
}
.order-info li.current {
  font-weight: 600;
}
.order-info li {
  margin: 0 0 0 20px;
}
.order-info-box {
  margin-bottom: 40px;
  margin-top: 20px;
}
.order-info-box .col-1, .order-info-box .col-2 {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.order-info-box .col-1 {
  padding-right: 0;
  width: 48%;
}
.col2-set .col-1 {
  float: left;
  padding-left: 0;
}
.order-info-box .box-title {
  width: 150px;
  padding-right: 10px;
  float: left;
}
.order-info-box .box-content {
  float: left;
}
.order-info-box .box-title h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 0.5em;
  color: #424242;
}
.order-info-box .box-title h2:after {
  content: ':';
}
.order-info-box + .order-info-box {
  padding-bottom: 40px;
  border-bottom: 1px solid #EDEDED;
}
.order-info-box {
  margin-bottom: 40px;
  margin-top: 20px;
}
.col2-set {
  width: 100%;
}
body.customer-account .sidebar .block.block-account .block-content li.current a, body.customer-account .sidebar .block.block-account .block-content li.current strong {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}
body.customer-account .sidebar .block.block-account .block-content li.current a,
body.customer-account .sidebar .block.block-account .block-content li.current strong {
  background: #0093d6;
}
body.customer-account.cms-category-honey .sidebar .block.block-account .block-content li.current a,
body.customer-account.cms-category-honey .sidebar .block.block-account .block-content li.current strong {
  background: $c-honey;
}
body.customer-account.cms-category-baby .sidebar .block.block-account .block-content li.current a,
body.customer-account.cms-category-baby .sidebar .block.block-account .block-content li.current strong {
  background: $c-baby;
}
body.customer-account.cms-category-beauty .sidebar .block.block-account .block-content li.current a,
body.customer-account.cms-category-beauty .sidebar .block.block-account .block-content li.current strong {
  background: $c-beauty;
}
body.customer-account.cms-category-health .sidebar .block.block-account .block-content li.current a,
body.customer-account.cms-category-health .sidebar .block.block-account .block-content li.current strong {
  background: $c-health;
}
body.customer-account.cms-category-toy .sidebar .block.block-account .block-content li.current a,
body.customer-account.cms-category-toy .sidebar .block.block-account .block-content li.current strong {
  background: $c-toy;
}
body.customer-account.cms-category-sheepskin .sidebar .block.block-account .block-content li.current a,
body.customer-account.cms-category-sheepskin .sidebar .block.block-account .block-content li.current strong {
  background: $c-sheepskin;
}
.my-account .form-list .fields {
  float: left;
  width: 45.5%;
  padding-right: 10px;
}
.form-list > li {
  margin-bottom: 10px;
}
.my-account .account-box-info .form-list .field.name-lastname, .my-account .account-box-info .form-list .field.name-firstname {
  width: 46%;
}
.my-account .account-box-info .form-list .field {
  float: left;
  width: 45.4%;
  padding-right: 10px;
  padding-top: 12px;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 10px;
}
.form-list .customer-dob .dob-month, .form-list .customer-dob .dob-day {
  width: 50px;
  float: left;
  margin-right: 10px;
}
.form-list .customer-dob .dob-year {
  width: 90px;
  float: left;
  margin-right: 10px;
}
.my-account .buttons-set {
  text-align: center;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  clear: both;
  margin: 10px 0 0;
}
.my-account .account-box-info .form-list .fields {
  float: none;
  width: inherit;
}
.my-account .account-box-info .form-list .control {
  width: 100%;
  border-top: 1px solid #e2e2e2;
  margin-top: 35px;
  padding-top: 20px;
}
body.customer-account .my-account .fieldset {
  padding-bottom: 25px;
}
.my-account .account-box-info .fieldset {
  margin-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}
.customer-account-edit .account-box-info .fieldset:nth-of-type(2) .form-list .fields {
  clear: both;
}
.my-account .account-box-info .form-list .fields {
  float: none;
  width: inherit;
}
.customer-account-edit .account-box-info .fieldset:nth-of-type(1) {
  border-bottom: none !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.my-account h2.legend {
  font-weight: 300;
  text-transform: none;
  border: none;
}
.customer-account-edit .account-box-info .back-link {
  float: left;
}
.my-account p.required {
  float: right;
}
.my-account .form-list .province-select .input-box {
  width: 100%;
  max-width: 300px;
}
.customer-name-middlename .input-box {
  padding-bottom: 10px;
}
.my-account .form-list label, .my-account .form-list .footer .link-bottoms .block-fllow p, .footer .link-bottoms .block-fllow .my-account .form-list p {
  font-size: 12px;
  font-weight: 700;
}
.header-minicart{
  .minicart-actions {
    padding: 21px 27px;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    .paypal-or {
      color: #424242;
    }
    .cart-link {
      font-size: 16px;
      float: left;
      max-width: 50%;
      padding: 10px 15px;
      height: 36px;
      border: 1px solid #424242;
      color: #424242;
      font-weight: 700;
      width: 100%;
      display: inline-block;
      font-family: "Roboto Condensed", Verdana, Arial, sans-serif;
    }
    .checkout-types.minicart {
      width: 50%;
      font-size: 16px;
      font-weight: 700;
      float: right;
      text-align: center;
    }
    .checkout-button {
      max-width: 119px;
      width: 100%;
      font-weight: 700;
      font-size: 16px;
      text-transform: none;
      padding: 6px 20px 7px 20px;
    }
  }
  .block-content {
    margin-top: 0;
  }
  .subtotal {
    background-color: #eaeaea;
    text-align: left;
    line-height: 2em;
    padding: 12px 30px;
    height: 50px;
    .label {
      color: #424242;
      float: left;
      font-weight: 700;
      font-size: 14px;
    }
    .price {
      color: #0093d6;
      float: right;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .info-wrapper {
    margin-bottom: 4px;
    .quantity-button.visible {
      opacity: 1;
    }
    .quantity-button {
      opacity: 0;
      padding: 3px 10px;
      margin-top: -5px;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -moz-transition-duration: 100ms;
      -o-transition-duration: 100ms;
      -webkit-transition-duration: 100ms;
      transition-duration: 100ms;
    }
    .qty {
      padding-left: 4px;
      padding-right: 4px;
      margin-right: 2px;
      margin-top: 2px;
      margin-left: 6px;
      width: 38px;
      text-align: center;
      height: 28px;
      font-weight: 700;
    }
    td {
      color: #0093d6;
      clear: right;
      padding-right: 10px;
      &:first-child {
        width: 40%;
      }
      .price {
        color: #0093d6;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
  .product-details .product-name {
    padding-top: 0px;
    text-align: left;
    text-transform: none;
    font-size: 14px;
    margin-bottom: 3px;
    a {
      color: #424242;
      text-transform: capitalize;
    }
  }
  .mini-products-list {
    padding-top: 12px;
    li {
      padding: 15px 5px 27px 11px;
      border-bottom: 1px solid #DDDDDD;
      position: relative;
      .truncated {
        float: left;
        color: #424242;
      }
      &.last {
        border: none;
        margin-bottom: 0;
      }
      .product-details {
        position: relative;
        text-align: left;
      }
      a{
        color: #0093d6;
        &.link-btn-action.btn-edit {
          border-left: 0;
          padding-left: 0;
        }
        &.link-btn-action {
          border-left: 1px solid #eaeaea;
          padding-left: 15px;
          padding-right: 15px;
          float: left;
        }
      }
    }
    .product-image {
      border: 0;
      margin-right: 24px;
    }
    .product-details {
      margin-left: 100px;
    }
  }
  .block-subtitle {
    .close {
      width: 40px;
      float: right;
      display: block;
      color: #424242;
      text-decoration: none;
      font-weight: normal;
      font-size: 30px;
      position: absolute;
      top: 17px;
      right: -7px;
    }
  }
}

.cms-category-honey{
  .header-minicart{
    .subtotal{
      .price {
        color: $c-honey;
      }
    }
    .info-wrapper{
      td {
        color: $c-honey;
        .price {
          color: $c-honey;
        }
      }
    }
  }
}
.cms-category-baby{
  .header-minicart{
    .subtotal{
      .price {
        color: $c-baby;
      }
    }
    .info-wrapper{
      td {
        color: $c-baby;
        .price {
          color: $c-baby;
        }
      }
    }
  }
}
.cms-category-beauty{
  .header-minicart{
    .subtotal{
      .price {
        color: $c-beauty;
      }
    }
    .info-wrapper{
      td {
        color: $c-beauty;
        .price {
          color: $c-beauty;
        }
      }
    }
  }
}
.cms-category-health{
  .header-minicart{
    .subtotal{
      .price {
        color: $c-health;
      }
    }
    .info-wrapper{
      td {
        color: $c-health;
        .price {
          color: $c-health;
        }
      }
    }
  }
}
.cms-category-toy{
  .header-minicart{
    .subtotal{
      .price {
        color: $c-toy;
      }
    }
    .info-wrapper{
      td {
        color: $c-toy;
        .price {
          color: $c-toy;
        }
      }
    }
  }
}
.cms-category-sheepskin{
  .header-minicart{
    .subtotal{
      .price {
        color: $c-sheepskin;
      }
    }
    .info-wrapper{
      td {
        color: $c-sheepskin;
        .price {
          color: $c-sheepskin;
        }
      }
    }
  }
}
.truncated .show .item-options {
  display: block;
}
.truncated .truncated_full_value .item-options {
  display: none;
  position: absolute;
  z-index: 300;
  width: 200px;
  padding: 8px;
  border: 1px solid #0093d6;
  background-color: #F6F6F6;
  top: 21px;
  left: -102px;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #0093d6;
    border-top: none;
    left: 125px;
    top: -7px;
  }
}
.cms-category-honey{
  .truncated .truncated_full_value .item-options{
    border: 1px solid $c-honey;
    &:after{
      border-bottom: 7px solid $c-honey;
    }
  }
}
.cms-category-baby{
  .truncated .truncated_full_value .item-options{
    border: 1px solid $c-baby;
    &:after{
      border-bottom: 7px solid $c-baby;
    }
  }
}
.cms-category-beauty{
  .truncated .truncated_full_value .item-options{
    border: 1px solid $c-beauty;
    &:after{
      border-bottom: 7px solid $c-beauty;
    }
  }
}
.cms-category-health{
  .truncated .truncated_full_value .item-options{
    border: 1px solid $c-health;
    &:after{
      border-bottom: 7px solid $c-health;
    }
  }
}
.cms-category-toy{
  .truncated .truncated_full_value .item-options{
    border: 1px solid $c-toy;
    &:after{
      border-bottom: 7px solid $c-toy;
    }
  }
}
.cms-category-sheepskin{
  .truncated .truncated_full_value .item-options{
    border: 1px solid $c-sheepskin;
    &:after{
      border-bottom: 7px solid $c-sheepskin;
    }
  }
}
.item-options{
  dt {
    float: left;
    clear: left;
    font-weight: 600;
    padding-right: 5px;
    font-style: italic;
  }
}
.checkout-onepage-success .col-main{
  text-align: center !important;
  h2, p, button{
    text-align: center !important;
  }
  .buttons-set {
    text-align: center !important;
    button{
      float: none !important;
      margin: auto !important;
    }

  }
}
#checkoutSteps #checkout-step-login .ul-list li{
  font-weight: 400!important;
  font-size: 12px!important;
  text-transform: none!important;
  font-family: "Open Sans", Verdana, Arial, sans-serif!important;
}
.product-view .product-options .swatch-attr .select-label{
  display: none!important;
}

.page-header .header-minicart .minicart-actions .cart-link{
  line-height: 16px;
}
