<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>Pour vous connecter lorsque vous visitez notre site, cliquez simplement sur <a href="{{store url="customer/account/"}}">Login</a> or <a href="{{store url="customer/account/"}}">Mon compte</a> En haut de chaque page, puis entrez votre adresse e-mail et votre mot de passe.</p>
            <p>Lorsque vous vous connectez à votre compte, vous pourrez effectuer les opérations suivantes:</p>
            <ul>
                <li>Procéder à la caisse plus rapidement lors d'un achat</li>
                <li>Vérifiez l'état des commandes</li>
                <li>Afficher les commandes passées</li>
                <li>Effectuez des modifications aux informations de votre compte</li>
                <li>changez votre mot de passe</li>
                <li>Enregistrez les adresses alternatives (pour l'expédition vers plusieurs membres de la famille et des amis!)</li>
            </ul>
            <p>
                Si vous avez des questions, n'hésitez pas à nous contacter au
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} Ou par téléphone au <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
