<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>{{htmlescape var=$customer.name}},</h1>
                        <p>Votre email {{var customer.email}} Doit être confirmé avant de l'utiliser pour vous connecter à notre magasin.</p>
                        <p class="highlighted-text">
                            Utilisez les valeurs suivantes lorsque vous êtes invité à vous connecter:<br/>
                            <strong>Email:</strong> {{var customer.email}}<br/>
                            <strong>Mot de passe:</strong> {{htmlescape var=$customer.password}}
                        </p>
                        <p>Cliquez ici pour confirmer votre courrier électronique et vous connecter instantanément (le lien est valable une seule fois):</p>
                        <table cellspacing="0" cellpadding="0" class="action-button" >
                            <tr>
                                <td>
                                    <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"><span>Confirmer le compte</span></a>
                                </td>
                            </tr>
                        </table>
                        <p>
                            Si vous avez des questions, n'hésitez pas à nous contacter au
                            <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{depend store_phone}} Ou par téléphone au <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
