<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$user.name}},</h1>
            <p>Il y a eu récemment une demande de modification du mot de passe pour votre compte.</p>
            <p>Vous pouvez modifier votre mot de passe à tout moment en vous connectant à <a href="{{store url="adminhtml/system_account/"}}">Ton compte</a>.</p>
            <p>Si vous avez demandé ce changement de mot de passe, cliquez ici pour réinitialiser votre mot de passe:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}"><span>réinitialiser le mot de passe</span></a>
                    </td>
                </tr>
            </table>
            <p>Si vous n'avez pas effectué cette demande, vous pouvez ignorer ce message et votre mot de passe restera le même.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
