<!--@subject Newsletter subscription success @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4>Vous avez été abonné avec succès à la newsletter.</h4>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
