<!--@subject Vendor password reset instructions from {{var store_name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p><strong>cher {{var vendor_name}},</strong></p>

                    <p>Ce courriel vous a été envoyé parce que vous avez demandé une réinitialisation du mot de passe.</p>

                    <p>Si vous n'avez pas demandé une réinitialisation de mot de passe, vous pouvez ignorer ce courrier électronique.</p>

                    <p>Accédez à ce lien pour réinitialiser votre mot de passe:</p>

                    <p><a href="{{var url}}">{{var url}}</a></p>

                    <p>Meilleures salutations,<br/><a href="{{store url=''}}">{{var store_name}}</a></p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>