<!--@subject New Shipment Request for Order # {{var order.increment_id}} from {{var store_name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p><strong>cher {{var vendor_name}},</strong></p>

                    <p>Veuillez remplir cette nouvelle commande# {{var order_id}} pour:</p>

                    <p><strong>{{var customer_info}}</strong></p>

                    {{layout handle="udropship_email_po_items" shipment=$shipment order=$order}}

                    <p>Envoyez-vous via <strong>{{var shipping_method}}</strong>. Si cela n'est pas disponible, veuillez nous en informer avant l'expédition.</p>

                    <p>Vous pouvez <a href="{{var packingslip_url}}">Téléchargez le bulletin de livraison PDF ici</a></p>

                    <p><a href="{{var shipment_url}}">Cliquez ici pour vous connecter à votre panneau de contrôle d'expédition </a> une fois que vous êtes prêt à nous informer de l'expédition et des numéros de suivi des intrants.</p>

                    <p>Merci pour votre partenariat.</p>

                    <p><a href="{{store url=''}}">{{var store_name}}</a></p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
