<!--@subject Statement for {{var date_from}} - {{var date_to}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p><strong>cher {{var vendor.vendor_name}},</strong></p>

                    <p>Veuillez trouver votre déclaration pour la période précédente jointe à ce courrier électronique.
                    Si vous avez des questions, n'hésitez pas à contacter.
                    Vous pouvez aussi <a href="{{store url='udropship'}}">s'identifier</a>
                    Pour afficher des informations spécifiques sur les commandes individuelles.
                    </p>

                    <p>Encore merci d'être un producteur partenaire!</p>

                    <p>Bonne chance,<br/><a href="{{store url=''}}">{{var store.store_name}}</a></p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>