<?php
/* @var $bank Bluecom_Alipay_Model_Source_Bank  */
$bank = Mage::getModel('alipayinternational/source_bank');
/* @var $this Bluecom_Alipayinternational_Block_Form */
$alipay_defaultbank = $this->getMethod()->getInfoInstance()->getAlipayDefaultbank();
$service_type = $this->getServiceType();
?>

    <?php if ($service_type == 'create_direct_pay_bank_by_user'): ?>
        <?php $_code = $this->getMethodCode() ?>
        <div id="payment_form_<?php echo $_code ?>" style="display:none">
            <div class="alipay_defaultbanks">
                <?php foreach ($bank->toOptionArray() as $_bank): ?>
                    <div class="bank_row" >
                        <input id="p_method_bank_<?php echo $_bank['value'] ?>" value="<?php echo $_bank['value'] ?>" <?php if ($alipay_defaultbank == $_bank['value']) { ?>checked="checked"<?php } ?> type="radio" name="payment[alipay_defaultbank]" title="<?php echo $this->htmlEscape($_bank['label']) ?>"  class="radio" />
                        <label for="p_method_bank_<?php echo $_bank['value'] ?>" class="bank_label <?php echo $_bank['value'] ?>" style="background:url('<?php echo $this->getSkinUrl('images/bank_logo_sprite.jpg') ?>') <?php echo $_bank['bp'] ?> no-repeat;">
                            <span><?php echo $_bank['label'] ?></span>
                        </label>
                        <div style="clear:both;"></div>
                    </div>
                <?php endforeach; ?>
            </div>
            <div style="clear:both;"></div>
        </div>
    <?php endif; ?>
    <ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
        <li class="form-alt"><?php echo $this->__('You will be redirected to Alipay to make payment.') ?></li>
        <li class="form-alt"><img width="55px" src="<?php echo $this->getSkinUrl('images/alipay/alipay_international_en.png');?>" alt="<?php echo Mage::helper('alipayinternational')->__('Alipay') ?>" class="v-middle" />&nbsp;<img width="55px" src="<?php echo $this->getSkinUrl('images/alipay/alipay_international_zh.png');?>" alt="<?php echo Mage::helper('alipayinternational')->__('Alipay') ?>" class="v-middle" />&nbsp;</li>
    </ul>
