
<!-- Alipayinternational Logo -->
<!--<img width="55px" src="<?php echo $this->getSkinUrl('images/alipay/alipay_international.png');?>" alt="<?php echo Mage::helper('alipayinternational')->__('Alipay') ?>" class="v-middle" />&nbsp;-->
<span><?php echo Mage::helper('alipayinternational')->__('Alipay') ?> / <?php echo Mage::helper('alipayinternational')->__('支付宝') ?></span>
<!-- Alipayinternational Logo -->
