<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">{{htmlescape var=$customer.name}} 고객님,</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var store.getFrontendName()}}에 오신걸 환영합니다. 로그인 하려면 사이트 방문 시, 매 페이지의 상단에 있는  <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">로그인</a> 이나 <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">나의 계정</a> 을 클릭하고 이메일 주소와 비밀번호를 입력해주십시오.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                로그인 시 해당 항목들을 입력하세요.<br/>
                                <strong>이메일</strong>: {{var customer.email}}<br/>
                                <strong>비밀번호</strong>: {{htmlescape var=$customer.password}}<p>
                          <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">고객님의 계정에 로그인 하실 때, 다음 항목들을 이용하실 수 있습니다.</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                              <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 구매 시 계속해서 결제를 빠르게 진행</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 주문 내역 확인</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 지난 구매 내역 확인</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 고객님의 회원 정보 수정</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 고객님의 비밀번호 변경</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 대체 가능한 주소 저장 (다수의 가족이나 지인에게 배송할 경우 필요)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">고객님의 회원 정보에 관한 문의 혹은 기타 문제 발생 시, <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> 또는 전화 {{config path='general/store_information/phone'}} 로 연락 주시기 바랍니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center>
                          <p style="font-size:12px; margin:0;"><strong>{{var store.getFrontendName()}}</strong> 고객님, 감사합니다. </p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>