<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">{{htmlescape var=$customer.name}} 고객님,</h1>
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">최근 고객님께서 비밀번호 변경을 요청하셨습니다.</p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">비밀번호를 변경하시려면, 고객님의 비밀번호 재설정을 위해 다음의 링크를 클릭해주십시오:<br>
<a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">만약 해당링크 접속에 문제가 있으면, URL주소를 복사한 후 브라우저에 붙여넣기 하십시오.                                </p>
                                <br />
                                <p style="font-size:12px; line-height:16px; margin:0;">만약 비밀변호 변경 요청을 하지 않으셨을 경우, 해당 메시지를 무시하시면 현재 비밀번호가 유지됩니다.<br>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #EAEAEA; text-align: center;"><p style="font-size:12px; margin:0; text-align: center;"><span style="font-size:12px; margin:0;"><strong>{{var store.getFrontendName()}}</strong> 고객님, 감사합니다. </span></p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
