<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$user.name}},</h1>
            <p align="left">고객님의 계정에서 최근  비밀번호 변경 요청이 있었습니다.            </p>
            <p><a href="{{store url="adminhtml/system_account/"}}">나의 계정</a>에 로그인하면 비밀번호 변경이 가능합니다..</p>
            <p>고객님이 비밀번호 변경을 요청하셨다면, 새로운 비밀번호 설정을 위해 <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}"><span>Reset Password</span></a>을 클릭하십시오. </p>
            
            <p>만약 변경 요청을 하지 않았다면, 해당 메시지를 무시하십시오. 고객님의 비밀번호는 그대로 유지됩니다.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
