<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p><strong>고객님의 새로운 비밀번호:</strong> {{htmlescape var=$customer.password}}</p>
            <p><a href="{{store url="customer/account/"}}">나의 계정</a>에 로그인하면 비밀번호 변경이 가능합니다.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
