/* line 31, ../scss/styles_jp.scss */
.state-province select {
  margin: 0;
}

/* line 35, ../scss/styles_jp.scss */
.header-minicart .minicart-actions .cart-link {
  height: inherit !important;
}

/* line 38, ../scss/styles_jp.scss */
.invalid-zip-notice {
  margin: 5px 0 0;
  color: #0093d6;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

/* line 47, ../scss/styles_jp.scss */
.zipcode .validation-advice {
  position: static !important;
  width: 100% !important;
}

/* line 55, ../scss/styles_jp.scss */
html:lang(ja) .catalog-product-view .product-view .add-to-links a {
  padding: 0 5px;
}
/* line 58, ../scss/styles_jp.scss */
html:lang(ja) .catalog-product-view .product-view .add-to-links a .fa {
  padding-right: 3px;
}
/* line 61, ../scss/styles_jp.scss */
html:lang(ja) .catalog-product-view .product-view .add-to-links a {
  font-size: 12px;
}
@media only screen and (min-width: 769px) and (max-width: 920px) {
  /* line 65, ../scss/styles_jp.scss */
  html:lang(ja) .link-header-content.switch-form {
    padding: 0 7px;
  }
  /* line 68, ../scss/styles_jp.scss */
  html:lang(ja) .logo .logo-text {
    left: 78px;
    font-size: 20px;
  }
  /* line 72, ../scss/styles_jp.scss */
  html:lang(ja) .link-header-content.link-wishlist a {
    padding: 6px;
  }
  /* line 75, ../scss/styles_jp.scss */
  html:lang(ja) .link-header-content.header-minicart .skip-cart {
    padding: 4px 5px 5px 2px;
  }
}
/* line 80, ../scss/styles_jp.scss */
html:lang(ja) .page-header .shop-form-country a.current .label,
html:lang(ja) .page-header .skip-nav .label {
  font-size: 10px;
}
/* line 84, ../scss/styles_jp.scss */
html:lang(ja) .page-header .header-minicart .minicart-actions .cart-link,
html:lang(ja) .page-header .header-minicart .minicart-actions .checkout-button {
  font-size: 12px;
}
/* line 90, ../scss/styles_jp.scss */
html:lang(ja) .main-container .home-banner .thumbnail h1 {
  font-size: 28px;
}
/* line 93, ../scss/styles_jp.scss */
html:lang(ja) .main-container .page-title h1,
html:lang(ja) .main-container .page-title h2,
html:lang(ja) .main-container .product-name h1,
html:lang(ja) .main-container .product-name .h1 {
  font-size: 24px;
}
/* line 99, ../scss/styles_jp.scss */
html:lang(ja) .main-container .button2 {
  font-size: 14px;
}
/* line 103, ../scss/styles_jp.scss */
html:lang(ja) .main-container .home-category-list .button2 {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 111, ../scss/styles_jp.scss */
html:lang(ja) .main-container .products-grid .add-to-links li a,
html:lang(ja) .main-container .products-list .add-to-links li a,
html:lang(ja) .main-container .availability,
html:lang(ja) .main-container .products-list .out-of-stock span,
html:lang(ja) .main-container .products-grid .actions .out-of-stock,
html:lang(ja) .main-container .button,
html:lang(ja) .main-container .cart-table .product-cart-actions .button,
html:lang(ja) .main-container #co-shipping-method-form .buttons-set .button,
html:lang(ja) .main-container .footer .button {
  font-size: 13px;
}
@media only screen and (min-width: 870px) {
  /* line 111, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .products-grid .add-to-links li a,
  html:lang(ja) .main-container .products-list .add-to-links li a,
  html:lang(ja) .main-container .availability,
  html:lang(ja) .main-container .products-list .out-of-stock span,
  html:lang(ja) .main-container .products-grid .actions .out-of-stock,
  html:lang(ja) .main-container .button,
  html:lang(ja) .main-container .cart-table .product-cart-actions .button,
  html:lang(ja) .main-container #co-shipping-method-form .buttons-set .button,
  html:lang(ja) .main-container .footer .button {
    font-size: 12px;
  }
}
/* line 128, ../scss/styles_jp.scss */
html:lang(ja) .main-container .products-grid .add-to-links li a .fa,
html:lang(ja) .main-container .products-list .add-to-links li a .fa {
  font-size: 14px;
}
/* line 132, ../scss/styles_jp.scss */
html:lang(ja) .main-container .my-account .form-list label {
  min-height: 23px;
}
@media only screen and (max-width: 920px) {
  /* line 142, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .products-grid li .product-add-info .productinfo .product-info .price-box .special-price .price,
  html:lang(ja) .main-container .products-grid li .product-add-info .productinfo .product-info .price-box .regular-price .price {
    font-size: 16px;
  }
}
@media only screen and (max-width: 979px) {
  /* line 151, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .home-category-list .page-title h2 {
    border-top: 1px solid #424242;
  }
  /* line 153, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .home-category-list .page-title h2 span {
    margin-top: -15px;
  }
  /* line 155, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .home-category-list .page-title h2 span.row-bottom {
    margin-top: 10px;
  }
  /* line 160, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .home-category-list .page-title h2:before,
  html:lang(ja) .main-container .home-category-list .page-title h2:after {
    width: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 167, ../scss/styles_jp.scss */
  html:lang(ja) .logo .logo-text {
    left: 96px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) {
  /* line 174, ../scss/styles_jp.scss */
  html:lang(ja) #search::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 10px;
  }
  /* line 177, ../scss/styles_jp.scss */
  html:lang(ja) #search::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 10px;
  }
  /* line 180, ../scss/styles_jp.scss */
  html:lang(ja) #search:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 10px;
  }
  /* line 183, ../scss/styles_jp.scss */
  html:lang(ja) #search:-moz-placeholder {
    /* Firefox 18- */
    font-size: 10px;
  }
  /* line 187, ../scss/styles_jp.scss */
  html:lang(ja) .world-shop-child .thumbnail p {
    font-size: 14px;
  }
  /* line 189, ../scss/styles_jp.scss */
  html:lang(ja) .world-shop-child .thumbnail p.title {
    font-size: 18px;
  }
  /* line 194, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .page-title h1 span {
    line-height: 2em;
  }
  /* line 197, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .page-title h1,
  html:lang(ja) .main-container .page-title h2,
  html:lang(ja) .main-container .product-name h1,
  html:lang(ja) .main-container .product-name .h1 {
    font-size: 28px;
  }
  /* line 203, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .show-sorter-page {
    width: 50%;
  }
  /* line 206, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .pager {
    width: 50%;
  }
  /* line 209, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .content-box {
    padding-left: 15px;
  }
  /* line 213, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .sorter .content-box {
    padding-left: 15px;
  }
  /* line 216, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .sorter > .limiter {
    padding-right: 15px;
  }
  /* line 219, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .sorter > .view-mode {
    padding-right: 15px;
  }
  /* line 222, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .sorter .sort-by .dd.ddcommon {
    min-width: 120px;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 1190px) and (min-width: 769px) {
  /* line 232, ../scss/styles_jp.scss */
  html:lang(ja) .toolbar .show-sorter-page .sorter > .limiter label,
  html:lang(ja) .toolbar > .pager .sorter label,
  html:lang(ja) .toolbar .show-sorter-page .sorter > .limiter .per_page {
    display: none;
  }
  /* line 237, ../scss/styles_jp.scss */
  html:lang(ja) .toolbar .show-sorter-page .sorter > .limiter {
    width: 55%;
  }
  /* line 240, ../scss/styles_jp.scss */
  html:lang(ja) .toolbar .show-sorter-page .sorter > .view-mode {
    width: 40%;
  }
  /* line 245, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .pager {
    width: 55%;
  }
  /* line 247, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .pager > .count-container .amount {
    font-size: 12px;
  }
  /* line 251, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .content-box {
    padding-left: 10px;
  }
  /* line 254, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .show-sorter-page {
    width: 45%;
  }
  /* line 256, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .show-sorter-page .sorter > .limiter {
    width: 45%;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 261, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .toolbar .show-sorter-page .sorter > .view-mode {
    width: 40%;
  }
  /* line 268, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .sorter .content-box {
    padding-left: 5px;
  }
  /* line 271, ../scss/styles_jp.scss */
  html:lang(ja) .main-container .sorter .sort-by .dd.ddcommon {
    min-width: 113px;
  }
}
