/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* Note
 In this file, I just only keep some icon that currently used in allworlshop website to reduce  capacity. If you want to add new icon, please copy from:
  https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css
  Thanks
*/
@font-face {
  font-family: 'FontAwesome';
  src: url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 22, ../scss/font-awesome.min.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 31, ../scss/font-awesome.min.scss */
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

/* line 37, ../scss/font-awesome.min.scss */
.fa-2x {
  font-size: 2em;
}

/* line 41, ../scss/font-awesome.min.scss */
.fa-3x {
  font-size: 3em;
}

/* line 45, ../scss/font-awesome.min.scss */
.fa-4x {
  font-size: 4em;
}

/* line 49, ../scss/font-awesome.min.scss */
.fa-5x {
  font-size: 5em;
}

/* line 53, ../scss/font-awesome.min.scss */
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

/* line 58, ../scss/font-awesome.min.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

/* line 64, ../scss/font-awesome.min.scss */
.fa-ul > li {
  position: relative;
}

/* line 68, ../scss/font-awesome.min.scss */
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center;
}

/* line 76, ../scss/font-awesome.min.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 80, ../scss/font-awesome.min.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: 0.1em;
}

/* line 86, ../scss/font-awesome.min.scss */
.fa-pull-left {
  float: left;
}

/* line 90, ../scss/font-awesome.min.scss */
.fa-pull-right {
  float: right;
}

/* line 94, ../scss/font-awesome.min.scss */
.fa.fa-pull-left {
  margin-right: 0.3em;
}

/* line 98, ../scss/font-awesome.min.scss */
.fa.fa-pull-right {
  margin-left: 0.3em;
}

/* line 102, ../scss/font-awesome.min.scss */
.pull-right {
  float: right;
}

/* line 106, ../scss/font-awesome.min.scss */
.pull-left {
  float: left;
}

/* line 110, ../scss/font-awesome.min.scss */
.fa.pull-left {
  margin-right: 0.3em;
}

/* line 114, ../scss/font-awesome.min.scss */
.fa.pull-right {
  margin-left: 0.3em;
}

/* line 118, ../scss/font-awesome.min.scss */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 123, ../scss/font-awesome.min.scss */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 150, ../scss/font-awesome.min.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 157, ../scss/font-awesome.min.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 164, ../scss/font-awesome.min.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 171, ../scss/font-awesome.min.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 178, ../scss/font-awesome.min.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 185, ../scss/font-awesome.min.scss */
:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
  filter: none;
}

/* line 189, ../scss/font-awesome.min.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 198, ../scss/font-awesome.min.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 205, ../scss/font-awesome.min.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 209, ../scss/font-awesome.min.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 213, ../scss/font-awesome.min.scss */
.fa-inverse {
  color: #fff;
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-star:before {
  content: "\f005";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-th-large:before {
  content: "\f009";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-th-list:before {
  content: "\f00b";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-chevron-left:before {
  content: "\f053";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-chevron-right:before {
  content: "\f054";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-plus:before {
  content: "\f067";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-angle-up:before {
  content: "\f106";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-angle-down:before {
  content: "\f107";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-ellipsis-h:before {
  content: "\f141";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-facebook-official:before {
  content: "\f230";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-angle-right:before {
  content: "\f105";
}

/* line 18, ../scss/font-awesome.min.scss */
.fa-angle-left:before {
  content: "\f104";
}

/**
 * Variables declared here can be overridden by consuming applications, with
 * the help of the `!default` flag.
 *
 * @example
 *     // overriding $hoverColor
 *     $hoverColor: rgba(red, 0.05);
 *
 *     // overriding image path
 *     $flagsImagePath: "images/";
 *
 *     // import the scss file after the overrides
 *     @import "https://www.allworldshops.cn/skin/frontend/allworldshops/aws_cn/css/bower_component/intl-tel-input/src/css/intlTelInput";
 */
/* line 48, ../scss/intlTelInput.scss */
.intl-tel-input {
  width: 100%;
  position: relative;
  display: inline-block;
}
/* line 58, ../scss/intlTelInput.scss */
.intl-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 63, ../scss/intlTelInput.scss */
.intl-tel-input .hide {
  display: none;
}
/* line 67, ../scss/intlTelInput.scss */
.intl-tel-input .v-hide {
  visibility: hidden;
}
/* line 72, ../scss/intlTelInput.scss */
.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 36px;
  margin-right: 0;
}
/* line 94, ../scss/intlTelInput.scss */
.intl-tel-input .flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
  height: 36px;
}
/* line 106, ../scss/intlTelInput.scss */
.intl-tel-input .selected-flag {
  z-index: 1;
  position: relative;
  width: 36px;
  height: 100%;
  padding: 0 0 0 8px;
}
/* line 117, ../scss/intlTelInput.scss */
.intl-tel-input .selected-flag .iti-flag {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* line 124, ../scss/intlTelInput.scss */
.intl-tel-input .selected-flag .iti-arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
/* line 138, ../scss/intlTelInput.scss */
.intl-tel-input .selected-flag .iti-arrow.up {
  border-top: none;
  border-bottom: 4px solid #555;
}
/* line 146, ../scss/intlTelInput.scss */
.intl-tel-input .country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
}
/* line 157, ../scss/intlTelInput.scss */
.intl-tel-input .country-list.dropup {
  bottom: 100%;
  margin-bottom: -1px;
}
/* line 163, ../scss/intlTelInput.scss */
.intl-tel-input .country-list .flag-box {
  display: inline-block;
  width: 20px;
}
@media (max-width: 500px) {
  /* line 146, ../scss/intlTelInput.scss */
  .intl-tel-input .country-list {
    white-space: normal;
  }
}
/* line 187, ../scss/intlTelInput.scss */
.intl-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
}
/* line 194, ../scss/intlTelInput.scss */
.intl-tel-input .country-list .country {
  padding: 5px 10px;
}
/* line 198, ../scss/intlTelInput.scss */
.intl-tel-input .country-list .country .dial-code {
  color: #999;
}
/* line 202, ../scss/intlTelInput.scss */
.intl-tel-input .country-list .country.highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 207, ../scss/intlTelInput.scss */
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name, .intl-tel-input .country-list .dial-code {
  vertical-align: middle;
}
/* line 210, ../scss/intlTelInput.scss */
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name {
  margin-right: 6px;
}
/* line 216, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel] {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
}
/* line 221, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown .flag-container {
  right: auto;
  left: 0;
}
/* line 225, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown .selected-flag {
  width: 46px;
  background-color: #ededed;
}
/* line 231, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown .flag-container:hover {
  cursor: pointer;
}
/* line 233, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 238, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover, .intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover {
  cursor: default;
}
/* line 240, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover .selected-flag, .intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover .selected-flag {
  background-color: transparent;
}
/* line 246, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
  display: table;
}
/* line 252, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
}
/* line 264, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type=text], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type=tel] {
  padding-left: 76px;
}
/* line 267, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 .selected-flag {
  width: 70px;
}
/* line 264, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=text], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel] {
  padding-left: 84px;
}
/* line 267, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 .selected-flag {
  width: 78px;
}
/* line 264, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=text], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=tel] {
  padding-left: 92px;
}
/* line 267, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 .selected-flag {
  width: 86px;
}
/* line 264, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type=text], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type=tel] {
  padding-left: 100px;
}
/* line 267, ../scss/intlTelInput.scss */
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 .selected-flag {
  width: 94px;
}
/* line 276, ../scss/intlTelInput.scss */
.intl-tel-input.iti-container {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
  padding: 1px;
}
/* line 284, ../scss/intlTelInput.scss */
.intl-tel-input.iti-container:hover {
  cursor: pointer;
}

/* line 292, ../scss/intlTelInput.scss */
.iti-mobile .intl-tel-input.iti-container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed;
}
/* line 299, ../scss/intlTelInput.scss */
.iti-mobile .intl-tel-input .country-list {
  max-height: 100%;
  width: 100%;
}
/* line 302, ../scss/intlTelInput.scss */
.iti-mobile .intl-tel-input .country-list .country {
  padding: 10px 10px;
  line-height: 1.5em;
}

/* line 9, ../scss/sprite.scss */
.iti-flag {
  width: 20px;
}
/* line 16, ../scss/sprite.scss */
.iti-flag.be {
  width: 18px;
}
/* line 16, ../scss/sprite.scss */
.iti-flag.ch {
  width: 15px;
}
/* line 16, ../scss/sprite.scss */
.iti-flag.mc {
  width: 19px;
}
/* line 16, ../scss/sprite.scss */
.iti-flag.ne {
  width: 18px;
}
/* line 16, ../scss/sprite.scss */
.iti-flag.np {
  width: 13px;
}
/* line 16, ../scss/sprite.scss */
.iti-flag.va {
  width: 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 9, ../scss/sprite.scss */
  .iti-flag {
    background-size: 5630px 15px;
  }
}
/* line 32, ../scss/sprite.scss */
.iti-flag.ac {
  height: 10px;
  background-position: 0px 0px;
}
/* line 36, ../scss/sprite.scss */
.iti-flag.ad {
  height: 14px;
  background-position: -22px 0px;
}
/* line 40, ../scss/sprite.scss */
.iti-flag.ae {
  height: 10px;
  background-position: -44px 0px;
}
/* line 44, ../scss/sprite.scss */
.iti-flag.af {
  height: 14px;
  background-position: -66px 0px;
}
/* line 48, ../scss/sprite.scss */
.iti-flag.ag {
  height: 14px;
  background-position: -88px 0px;
}
/* line 52, ../scss/sprite.scss */
.iti-flag.ai {
  height: 10px;
  background-position: -110px 0px;
}
/* line 56, ../scss/sprite.scss */
.iti-flag.al {
  height: 15px;
  background-position: -132px 0px;
}
/* line 60, ../scss/sprite.scss */
.iti-flag.am {
  height: 10px;
  background-position: -154px 0px;
}
/* line 64, ../scss/sprite.scss */
.iti-flag.ao {
  height: 14px;
  background-position: -176px 0px;
}
/* line 68, ../scss/sprite.scss */
.iti-flag.aq {
  height: 14px;
  background-position: -198px 0px;
}
/* line 72, ../scss/sprite.scss */
.iti-flag.ar {
  height: 13px;
  background-position: -220px 0px;
}
/* line 76, ../scss/sprite.scss */
.iti-flag.as {
  height: 10px;
  background-position: -242px 0px;
}
/* line 80, ../scss/sprite.scss */
.iti-flag.at {
  height: 14px;
  background-position: -264px 0px;
}
/* line 84, ../scss/sprite.scss */
.iti-flag.au {
  height: 10px;
  background-position: -286px 0px;
}
/* line 88, ../scss/sprite.scss */
.iti-flag.aw {
  height: 14px;
  background-position: -308px 0px;
}
/* line 92, ../scss/sprite.scss */
.iti-flag.ax {
  height: 13px;
  background-position: -330px 0px;
}
/* line 96, ../scss/sprite.scss */
.iti-flag.az {
  height: 10px;
  background-position: -352px 0px;
}
/* line 100, ../scss/sprite.scss */
.iti-flag.ba {
  height: 10px;
  background-position: -374px 0px;
}
/* line 104, ../scss/sprite.scss */
.iti-flag.bb {
  height: 14px;
  background-position: -396px 0px;
}
/* line 108, ../scss/sprite.scss */
.iti-flag.bd {
  height: 12px;
  background-position: -418px 0px;
}
/* line 112, ../scss/sprite.scss */
.iti-flag.be {
  height: 15px;
  background-position: -440px 0px;
}
/* line 116, ../scss/sprite.scss */
.iti-flag.bf {
  height: 14px;
  background-position: -460px 0px;
}
/* line 120, ../scss/sprite.scss */
.iti-flag.bg {
  height: 12px;
  background-position: -482px 0px;
}
/* line 124, ../scss/sprite.scss */
.iti-flag.bh {
  height: 12px;
  background-position: -504px 0px;
}
/* line 128, ../scss/sprite.scss */
.iti-flag.bi {
  height: 12px;
  background-position: -526px 0px;
}
/* line 132, ../scss/sprite.scss */
.iti-flag.bj {
  height: 14px;
  background-position: -548px 0px;
}
/* line 136, ../scss/sprite.scss */
.iti-flag.bl {
  height: 14px;
  background-position: -570px 0px;
}
/* line 140, ../scss/sprite.scss */
.iti-flag.bm {
  height: 10px;
  background-position: -592px 0px;
}
/* line 144, ../scss/sprite.scss */
.iti-flag.bn {
  height: 10px;
  background-position: -614px 0px;
}
/* line 148, ../scss/sprite.scss */
.iti-flag.bo {
  height: 14px;
  background-position: -636px 0px;
}
/* line 152, ../scss/sprite.scss */
.iti-flag.bq {
  height: 14px;
  background-position: -658px 0px;
}
/* line 156, ../scss/sprite.scss */
.iti-flag.br {
  height: 14px;
  background-position: -680px 0px;
}
/* line 160, ../scss/sprite.scss */
.iti-flag.bs {
  height: 10px;
  background-position: -702px 0px;
}
/* line 164, ../scss/sprite.scss */
.iti-flag.bt {
  height: 14px;
  background-position: -724px 0px;
}
/* line 168, ../scss/sprite.scss */
.iti-flag.bv {
  height: 15px;
  background-position: -746px 0px;
}
/* line 172, ../scss/sprite.scss */
.iti-flag.bw {
  height: 14px;
  background-position: -768px 0px;
}
/* line 176, ../scss/sprite.scss */
.iti-flag.by {
  height: 10px;
  background-position: -790px 0px;
}
/* line 180, ../scss/sprite.scss */
.iti-flag.bz {
  height: 14px;
  background-position: -812px 0px;
}
/* line 184, ../scss/sprite.scss */
.iti-flag.ca {
  height: 10px;
  background-position: -834px 0px;
}
/* line 188, ../scss/sprite.scss */
.iti-flag.cc {
  height: 10px;
  background-position: -856px 0px;
}
/* line 192, ../scss/sprite.scss */
.iti-flag.cd {
  height: 15px;
  background-position: -878px 0px;
}
/* line 196, ../scss/sprite.scss */
.iti-flag.cf {
  height: 14px;
  background-position: -900px 0px;
}
/* line 200, ../scss/sprite.scss */
.iti-flag.cg {
  height: 14px;
  background-position: -922px 0px;
}
/* line 204, ../scss/sprite.scss */
.iti-flag.ch {
  height: 15px;
  background-position: -944px 0px;
}
/* line 208, ../scss/sprite.scss */
.iti-flag.ci {
  height: 14px;
  background-position: -961px 0px;
}
/* line 212, ../scss/sprite.scss */
.iti-flag.ck {
  height: 10px;
  background-position: -983px 0px;
}
/* line 216, ../scss/sprite.scss */
.iti-flag.cl {
  height: 14px;
  background-position: -1005px 0px;
}
/* line 220, ../scss/sprite.scss */
.iti-flag.cm {
  height: 14px;
  background-position: -1027px 0px;
}
/* line 224, ../scss/sprite.scss */
.iti-flag.cn {
  height: 14px;
  background-position: -1049px 0px;
}
/* line 228, ../scss/sprite.scss */
.iti-flag.co {
  height: 14px;
  background-position: -1071px 0px;
}
/* line 232, ../scss/sprite.scss */
.iti-flag.cp {
  height: 14px;
  background-position: -1093px 0px;
}
/* line 236, ../scss/sprite.scss */
.iti-flag.cr {
  height: 12px;
  background-position: -1115px 0px;
}
/* line 240, ../scss/sprite.scss */
.iti-flag.cu {
  height: 10px;
  background-position: -1137px 0px;
}
/* line 244, ../scss/sprite.scss */
.iti-flag.cv {
  height: 12px;
  background-position: -1159px 0px;
}
/* line 248, ../scss/sprite.scss */
.iti-flag.cw {
  height: 14px;
  background-position: -1181px 0px;
}
/* line 252, ../scss/sprite.scss */
.iti-flag.cx {
  height: 10px;
  background-position: -1203px 0px;
}
/* line 256, ../scss/sprite.scss */
.iti-flag.cy {
  height: 13px;
  background-position: -1225px 0px;
}
/* line 260, ../scss/sprite.scss */
.iti-flag.cz {
  height: 14px;
  background-position: -1247px 0px;
}
/* line 264, ../scss/sprite.scss */
.iti-flag.de {
  height: 12px;
  background-position: -1269px 0px;
}
/* line 268, ../scss/sprite.scss */
.iti-flag.dg {
  height: 10px;
  background-position: -1291px 0px;
}
/* line 272, ../scss/sprite.scss */
.iti-flag.dj {
  height: 14px;
  background-position: -1313px 0px;
}
/* line 276, ../scss/sprite.scss */
.iti-flag.dk {
  height: 15px;
  background-position: -1335px 0px;
}
/* line 280, ../scss/sprite.scss */
.iti-flag.dm {
  height: 10px;
  background-position: -1357px 0px;
}
/* line 284, ../scss/sprite.scss */
.iti-flag.do {
  height: 13px;
  background-position: -1379px 0px;
}
/* line 288, ../scss/sprite.scss */
.iti-flag.dz {
  height: 14px;
  background-position: -1401px 0px;
}
/* line 292, ../scss/sprite.scss */
.iti-flag.ea {
  height: 14px;
  background-position: -1423px 0px;
}
/* line 296, ../scss/sprite.scss */
.iti-flag.ec {
  height: 14px;
  background-position: -1445px 0px;
}
/* line 300, ../scss/sprite.scss */
.iti-flag.ee {
  height: 13px;
  background-position: -1467px 0px;
}
/* line 304, ../scss/sprite.scss */
.iti-flag.eg {
  height: 14px;
  background-position: -1489px 0px;
}
/* line 308, ../scss/sprite.scss */
.iti-flag.eh {
  height: 10px;
  background-position: -1511px 0px;
}
/* line 312, ../scss/sprite.scss */
.iti-flag.er {
  height: 10px;
  background-position: -1533px 0px;
}
/* line 316, ../scss/sprite.scss */
.iti-flag.es {
  height: 14px;
  background-position: -1555px 0px;
}
/* line 320, ../scss/sprite.scss */
.iti-flag.et {
  height: 10px;
  background-position: -1577px 0px;
}
/* line 324, ../scss/sprite.scss */
.iti-flag.eu {
  height: 14px;
  background-position: -1599px 0px;
}
/* line 328, ../scss/sprite.scss */
.iti-flag.fi {
  height: 12px;
  background-position: -1621px 0px;
}
/* line 332, ../scss/sprite.scss */
.iti-flag.fj {
  height: 10px;
  background-position: -1643px 0px;
}
/* line 336, ../scss/sprite.scss */
.iti-flag.fk {
  height: 10px;
  background-position: -1665px 0px;
}
/* line 340, ../scss/sprite.scss */
.iti-flag.fm {
  height: 11px;
  background-position: -1687px 0px;
}
/* line 344, ../scss/sprite.scss */
.iti-flag.fo {
  height: 15px;
  background-position: -1709px 0px;
}
/* line 348, ../scss/sprite.scss */
.iti-flag.fr {
  height: 14px;
  background-position: -1731px 0px;
}
/* line 352, ../scss/sprite.scss */
.iti-flag.ga {
  height: 15px;
  background-position: -1753px 0px;
}
/* line 356, ../scss/sprite.scss */
.iti-flag.gb {
  height: 10px;
  background-position: -1775px 0px;
}
/* line 360, ../scss/sprite.scss */
.iti-flag.gd {
  height: 12px;
  background-position: -1797px 0px;
}
/* line 364, ../scss/sprite.scss */
.iti-flag.ge {
  height: 14px;
  background-position: -1819px 0px;
}
/* line 368, ../scss/sprite.scss */
.iti-flag.gf {
  height: 14px;
  background-position: -1841px 0px;
}
/* line 372, ../scss/sprite.scss */
.iti-flag.gg {
  height: 14px;
  background-position: -1863px 0px;
}
/* line 376, ../scss/sprite.scss */
.iti-flag.gh {
  height: 14px;
  background-position: -1885px 0px;
}
/* line 380, ../scss/sprite.scss */
.iti-flag.gi {
  height: 10px;
  background-position: -1907px 0px;
}
/* line 384, ../scss/sprite.scss */
.iti-flag.gl {
  height: 14px;
  background-position: -1929px 0px;
}
/* line 388, ../scss/sprite.scss */
.iti-flag.gm {
  height: 14px;
  background-position: -1951px 0px;
}
/* line 392, ../scss/sprite.scss */
.iti-flag.gn {
  height: 14px;
  background-position: -1973px 0px;
}
/* line 396, ../scss/sprite.scss */
.iti-flag.gp {
  height: 14px;
  background-position: -1995px 0px;
}
/* line 400, ../scss/sprite.scss */
.iti-flag.gq {
  height: 14px;
  background-position: -2017px 0px;
}
/* line 404, ../scss/sprite.scss */
.iti-flag.gr {
  height: 14px;
  background-position: -2039px 0px;
}
/* line 408, ../scss/sprite.scss */
.iti-flag.gs {
  height: 10px;
  background-position: -2061px 0px;
}
/* line 412, ../scss/sprite.scss */
.iti-flag.gt {
  height: 13px;
  background-position: -2083px 0px;
}
/* line 416, ../scss/sprite.scss */
.iti-flag.gu {
  height: 11px;
  background-position: -2105px 0px;
}
/* line 420, ../scss/sprite.scss */
.iti-flag.gw {
  height: 10px;
  background-position: -2127px 0px;
}
/* line 424, ../scss/sprite.scss */
.iti-flag.gy {
  height: 12px;
  background-position: -2149px 0px;
}
/* line 428, ../scss/sprite.scss */
.iti-flag.hk {
  height: 14px;
  background-position: -2171px 0px;
}
/* line 432, ../scss/sprite.scss */
.iti-flag.hm {
  height: 10px;
  background-position: -2193px 0px;
}
/* line 436, ../scss/sprite.scss */
.iti-flag.hn {
  height: 10px;
  background-position: -2215px 0px;
}
/* line 440, ../scss/sprite.scss */
.iti-flag.hr {
  height: 10px;
  background-position: -2237px 0px;
}
/* line 444, ../scss/sprite.scss */
.iti-flag.ht {
  height: 12px;
  background-position: -2259px 0px;
}
/* line 448, ../scss/sprite.scss */
.iti-flag.hu {
  height: 10px;
  background-position: -2281px 0px;
}
/* line 452, ../scss/sprite.scss */
.iti-flag.ic {
  height: 14px;
  background-position: -2303px 0px;
}
/* line 456, ../scss/sprite.scss */
.iti-flag.id {
  height: 14px;
  background-position: -2325px 0px;
}
/* line 460, ../scss/sprite.scss */
.iti-flag.ie {
  height: 10px;
  background-position: -2347px 0px;
}
/* line 464, ../scss/sprite.scss */
.iti-flag.il {
  height: 15px;
  background-position: -2369px 0px;
}
/* line 468, ../scss/sprite.scss */
.iti-flag.im {
  height: 10px;
  background-position: -2391px 0px;
}
/* line 472, ../scss/sprite.scss */
.iti-flag.in {
  height: 14px;
  background-position: -2413px 0px;
}
/* line 476, ../scss/sprite.scss */
.iti-flag.io {
  height: 10px;
  background-position: -2435px 0px;
}
/* line 480, ../scss/sprite.scss */
.iti-flag.iq {
  height: 14px;
  background-position: -2457px 0px;
}
/* line 484, ../scss/sprite.scss */
.iti-flag.ir {
  height: 12px;
  background-position: -2479px 0px;
}
/* line 488, ../scss/sprite.scss */
.iti-flag.is {
  height: 15px;
  background-position: -2501px 0px;
}
/* line 492, ../scss/sprite.scss */
.iti-flag.it {
  height: 14px;
  background-position: -2523px 0px;
}
/* line 496, ../scss/sprite.scss */
.iti-flag.je {
  height: 12px;
  background-position: -2545px 0px;
}
/* line 500, ../scss/sprite.scss */
.iti-flag.jm {
  height: 10px;
  background-position: -2567px 0px;
}
/* line 504, ../scss/sprite.scss */
.iti-flag.jo {
  height: 10px;
  background-position: -2589px 0px;
}
/* line 508, ../scss/sprite.scss */
.iti-flag.jp {
  height: 14px;
  background-position: -2611px 0px;
}
/* line 512, ../scss/sprite.scss */
.iti-flag.ke {
  height: 14px;
  background-position: -2633px 0px;
}
/* line 516, ../scss/sprite.scss */
.iti-flag.kg {
  height: 12px;
  background-position: -2655px 0px;
}
/* line 520, ../scss/sprite.scss */
.iti-flag.kh {
  height: 13px;
  background-position: -2677px 0px;
}
/* line 524, ../scss/sprite.scss */
.iti-flag.ki {
  height: 10px;
  background-position: -2699px 0px;
}
/* line 528, ../scss/sprite.scss */
.iti-flag.km {
  height: 12px;
  background-position: -2721px 0px;
}
/* line 532, ../scss/sprite.scss */
.iti-flag.kn {
  height: 14px;
  background-position: -2743px 0px;
}
/* line 536, ../scss/sprite.scss */
.iti-flag.kp {
  height: 10px;
  background-position: -2765px 0px;
}
/* line 540, ../scss/sprite.scss */
.iti-flag.kr {
  height: 14px;
  background-position: -2787px 0px;
}
/* line 544, ../scss/sprite.scss */
.iti-flag.kw {
  height: 10px;
  background-position: -2809px 0px;
}
/* line 548, ../scss/sprite.scss */
.iti-flag.ky {
  height: 10px;
  background-position: -2831px 0px;
}
/* line 552, ../scss/sprite.scss */
.iti-flag.kz {
  height: 10px;
  background-position: -2853px 0px;
}
/* line 556, ../scss/sprite.scss */
.iti-flag.la {
  height: 14px;
  background-position: -2875px 0px;
}
/* line 560, ../scss/sprite.scss */
.iti-flag.lb {
  height: 14px;
  background-position: -2897px 0px;
}
/* line 564, ../scss/sprite.scss */
.iti-flag.lc {
  height: 10px;
  background-position: -2919px 0px;
}
/* line 568, ../scss/sprite.scss */
.iti-flag.li {
  height: 12px;
  background-position: -2941px 0px;
}
/* line 572, ../scss/sprite.scss */
.iti-flag.lk {
  height: 10px;
  background-position: -2963px 0px;
}
/* line 576, ../scss/sprite.scss */
.iti-flag.lr {
  height: 11px;
  background-position: -2985px 0px;
}
/* line 580, ../scss/sprite.scss */
.iti-flag.ls {
  height: 14px;
  background-position: -3007px 0px;
}
/* line 584, ../scss/sprite.scss */
.iti-flag.lt {
  height: 12px;
  background-position: -3029px 0px;
}
/* line 588, ../scss/sprite.scss */
.iti-flag.lu {
  height: 12px;
  background-position: -3051px 0px;
}
/* line 592, ../scss/sprite.scss */
.iti-flag.lv {
  height: 10px;
  background-position: -3073px 0px;
}
/* line 596, ../scss/sprite.scss */
.iti-flag.ly {
  height: 10px;
  background-position: -3095px 0px;
}
/* line 600, ../scss/sprite.scss */
.iti-flag.ma {
  height: 14px;
  background-position: -3117px 0px;
}
/* line 604, ../scss/sprite.scss */
.iti-flag.mc {
  height: 15px;
  background-position: -3139px 0px;
}
/* line 608, ../scss/sprite.scss */
.iti-flag.md {
  height: 10px;
  background-position: -3160px 0px;
}
/* line 612, ../scss/sprite.scss */
.iti-flag.me {
  height: 10px;
  background-position: -3182px 0px;
}
/* line 616, ../scss/sprite.scss */
.iti-flag.mf {
  height: 14px;
  background-position: -3204px 0px;
}
/* line 620, ../scss/sprite.scss */
.iti-flag.mg {
  height: 14px;
  background-position: -3226px 0px;
}
/* line 624, ../scss/sprite.scss */
.iti-flag.mh {
  height: 11px;
  background-position: -3248px 0px;
}
/* line 628, ../scss/sprite.scss */
.iti-flag.mk {
  height: 10px;
  background-position: -3270px 0px;
}
/* line 632, ../scss/sprite.scss */
.iti-flag.ml {
  height: 14px;
  background-position: -3292px 0px;
}
/* line 636, ../scss/sprite.scss */
.iti-flag.mm {
  height: 14px;
  background-position: -3314px 0px;
}
/* line 640, ../scss/sprite.scss */
.iti-flag.mn {
  height: 10px;
  background-position: -3336px 0px;
}
/* line 644, ../scss/sprite.scss */
.iti-flag.mo {
  height: 14px;
  background-position: -3358px 0px;
}
/* line 648, ../scss/sprite.scss */
.iti-flag.mp {
  height: 10px;
  background-position: -3380px 0px;
}
/* line 652, ../scss/sprite.scss */
.iti-flag.mq {
  height: 14px;
  background-position: -3402px 0px;
}
/* line 656, ../scss/sprite.scss */
.iti-flag.mr {
  height: 14px;
  background-position: -3424px 0px;
}
/* line 660, ../scss/sprite.scss */
.iti-flag.ms {
  height: 10px;
  background-position: -3446px 0px;
}
/* line 664, ../scss/sprite.scss */
.iti-flag.mt {
  height: 14px;
  background-position: -3468px 0px;
}
/* line 668, ../scss/sprite.scss */
.iti-flag.mu {
  height: 14px;
  background-position: -3490px 0px;
}
/* line 672, ../scss/sprite.scss */
.iti-flag.mv {
  height: 14px;
  background-position: -3512px 0px;
}
/* line 676, ../scss/sprite.scss */
.iti-flag.mw {
  height: 14px;
  background-position: -3534px 0px;
}
/* line 680, ../scss/sprite.scss */
.iti-flag.mx {
  height: 12px;
  background-position: -3556px 0px;
}
/* line 684, ../scss/sprite.scss */
.iti-flag.my {
  height: 10px;
  background-position: -3578px 0px;
}
/* line 688, ../scss/sprite.scss */
.iti-flag.mz {
  height: 14px;
  background-position: -3600px 0px;
}
/* line 692, ../scss/sprite.scss */
.iti-flag.na {
  height: 14px;
  background-position: -3622px 0px;
}
/* line 696, ../scss/sprite.scss */
.iti-flag.nc {
  height: 10px;
  background-position: -3644px 0px;
}
/* line 700, ../scss/sprite.scss */
.iti-flag.ne {
  height: 15px;
  background-position: -3666px 0px;
}
/* line 704, ../scss/sprite.scss */
.iti-flag.nf {
  height: 10px;
  background-position: -3686px 0px;
}
/* line 708, ../scss/sprite.scss */
.iti-flag.ng {
  height: 10px;
  background-position: -3708px 0px;
}
/* line 712, ../scss/sprite.scss */
.iti-flag.ni {
  height: 12px;
  background-position: -3730px 0px;
}
/* line 716, ../scss/sprite.scss */
.iti-flag.nl {
  height: 14px;
  background-position: -3752px 0px;
}
/* line 720, ../scss/sprite.scss */
.iti-flag.no {
  height: 15px;
  background-position: -3774px 0px;
}
/* line 724, ../scss/sprite.scss */
.iti-flag.np {
  height: 15px;
  background-position: -3796px 0px;
}
/* line 728, ../scss/sprite.scss */
.iti-flag.nr {
  height: 10px;
  background-position: -3811px 0px;
}
/* line 732, ../scss/sprite.scss */
.iti-flag.nu {
  height: 10px;
  background-position: -3833px 0px;
}
/* line 736, ../scss/sprite.scss */
.iti-flag.nz {
  height: 10px;
  background-position: -3855px 0px;
}
/* line 740, ../scss/sprite.scss */
.iti-flag.om {
  height: 10px;
  background-position: -3877px 0px;
}
/* line 744, ../scss/sprite.scss */
.iti-flag.pa {
  height: 14px;
  background-position: -3899px 0px;
}
/* line 748, ../scss/sprite.scss */
.iti-flag.pe {
  height: 14px;
  background-position: -3921px 0px;
}
/* line 752, ../scss/sprite.scss */
.iti-flag.pf {
  height: 14px;
  background-position: -3943px 0px;
}
/* line 756, ../scss/sprite.scss */
.iti-flag.pg {
  height: 15px;
  background-position: -3965px 0px;
}
/* line 760, ../scss/sprite.scss */
.iti-flag.ph {
  height: 10px;
  background-position: -3987px 0px;
}
/* line 764, ../scss/sprite.scss */
.iti-flag.pk {
  height: 14px;
  background-position: -4009px 0px;
}
/* line 768, ../scss/sprite.scss */
.iti-flag.pl {
  height: 13px;
  background-position: -4031px 0px;
}
/* line 772, ../scss/sprite.scss */
.iti-flag.pm {
  height: 14px;
  background-position: -4053px 0px;
}
/* line 776, ../scss/sprite.scss */
.iti-flag.pn {
  height: 10px;
  background-position: -4075px 0px;
}
/* line 780, ../scss/sprite.scss */
.iti-flag.pr {
  height: 14px;
  background-position: -4097px 0px;
}
/* line 784, ../scss/sprite.scss */
.iti-flag.ps {
  height: 10px;
  background-position: -4119px 0px;
}
/* line 788, ../scss/sprite.scss */
.iti-flag.pt {
  height: 14px;
  background-position: -4141px 0px;
}
/* line 792, ../scss/sprite.scss */
.iti-flag.pw {
  height: 13px;
  background-position: -4163px 0px;
}
/* line 796, ../scss/sprite.scss */
.iti-flag.py {
  height: 11px;
  background-position: -4185px 0px;
}
/* line 800, ../scss/sprite.scss */
.iti-flag.qa {
  height: 8px;
  background-position: -4207px 0px;
}
/* line 804, ../scss/sprite.scss */
.iti-flag.re {
  height: 14px;
  background-position: -4229px 0px;
}
/* line 808, ../scss/sprite.scss */
.iti-flag.ro {
  height: 14px;
  background-position: -4251px 0px;
}
/* line 812, ../scss/sprite.scss */
.iti-flag.rs {
  height: 14px;
  background-position: -4273px 0px;
}
/* line 816, ../scss/sprite.scss */
.iti-flag.ru {
  height: 14px;
  background-position: -4295px 0px;
}
/* line 820, ../scss/sprite.scss */
.iti-flag.rw {
  height: 14px;
  background-position: -4317px 0px;
}
/* line 824, ../scss/sprite.scss */
.iti-flag.sa {
  height: 14px;
  background-position: -4339px 0px;
}
/* line 828, ../scss/sprite.scss */
.iti-flag.sb {
  height: 10px;
  background-position: -4361px 0px;
}
/* line 832, ../scss/sprite.scss */
.iti-flag.sc {
  height: 10px;
  background-position: -4383px 0px;
}
/* line 836, ../scss/sprite.scss */
.iti-flag.sd {
  height: 10px;
  background-position: -4405px 0px;
}
/* line 840, ../scss/sprite.scss */
.iti-flag.se {
  height: 13px;
  background-position: -4427px 0px;
}
/* line 844, ../scss/sprite.scss */
.iti-flag.sg {
  height: 14px;
  background-position: -4449px 0px;
}
/* line 848, ../scss/sprite.scss */
.iti-flag.sh {
  height: 10px;
  background-position: -4471px 0px;
}
/* line 852, ../scss/sprite.scss */
.iti-flag.si {
  height: 10px;
  background-position: -4493px 0px;
}
/* line 856, ../scss/sprite.scss */
.iti-flag.sj {
  height: 15px;
  background-position: -4515px 0px;
}
/* line 860, ../scss/sprite.scss */
.iti-flag.sk {
  height: 14px;
  background-position: -4537px 0px;
}
/* line 864, ../scss/sprite.scss */
.iti-flag.sl {
  height: 14px;
  background-position: -4559px 0px;
}
/* line 868, ../scss/sprite.scss */
.iti-flag.sm {
  height: 15px;
  background-position: -4581px 0px;
}
/* line 872, ../scss/sprite.scss */
.iti-flag.sn {
  height: 14px;
  background-position: -4603px 0px;
}
/* line 876, ../scss/sprite.scss */
.iti-flag.so {
  height: 14px;
  background-position: -4625px 0px;
}
/* line 880, ../scss/sprite.scss */
.iti-flag.sr {
  height: 14px;
  background-position: -4647px 0px;
}
/* line 884, ../scss/sprite.scss */
.iti-flag.ss {
  height: 10px;
  background-position: -4669px 0px;
}
/* line 888, ../scss/sprite.scss */
.iti-flag.st {
  height: 10px;
  background-position: -4691px 0px;
}
/* line 892, ../scss/sprite.scss */
.iti-flag.sv {
  height: 12px;
  background-position: -4713px 0px;
}
/* line 896, ../scss/sprite.scss */
.iti-flag.sx {
  height: 14px;
  background-position: -4735px 0px;
}
/* line 900, ../scss/sprite.scss */
.iti-flag.sy {
  height: 14px;
  background-position: -4757px 0px;
}
/* line 904, ../scss/sprite.scss */
.iti-flag.sz {
  height: 14px;
  background-position: -4779px 0px;
}
/* line 908, ../scss/sprite.scss */
.iti-flag.ta {
  height: 10px;
  background-position: -4801px 0px;
}
/* line 912, ../scss/sprite.scss */
.iti-flag.tc {
  height: 10px;
  background-position: -4823px 0px;
}
/* line 916, ../scss/sprite.scss */
.iti-flag.td {
  height: 14px;
  background-position: -4845px 0px;
}
/* line 920, ../scss/sprite.scss */
.iti-flag.tf {
  height: 14px;
  background-position: -4867px 0px;
}
/* line 924, ../scss/sprite.scss */
.iti-flag.tg {
  height: 13px;
  background-position: -4889px 0px;
}
/* line 928, ../scss/sprite.scss */
.iti-flag.th {
  height: 14px;
  background-position: -4911px 0px;
}
/* line 932, ../scss/sprite.scss */
.iti-flag.tj {
  height: 10px;
  background-position: -4933px 0px;
}
/* line 936, ../scss/sprite.scss */
.iti-flag.tk {
  height: 10px;
  background-position: -4955px 0px;
}
/* line 940, ../scss/sprite.scss */
.iti-flag.tl {
  height: 10px;
  background-position: -4977px 0px;
}
/* line 944, ../scss/sprite.scss */
.iti-flag.tm {
  height: 14px;
  background-position: -4999px 0px;
}
/* line 948, ../scss/sprite.scss */
.iti-flag.tn {
  height: 14px;
  background-position: -5021px 0px;
}
/* line 952, ../scss/sprite.scss */
.iti-flag.to {
  height: 10px;
  background-position: -5043px 0px;
}
/* line 956, ../scss/sprite.scss */
.iti-flag.tr {
  height: 14px;
  background-position: -5065px 0px;
}
/* line 960, ../scss/sprite.scss */
.iti-flag.tt {
  height: 12px;
  background-position: -5087px 0px;
}
/* line 964, ../scss/sprite.scss */
.iti-flag.tv {
  height: 10px;
  background-position: -5109px 0px;
}
/* line 968, ../scss/sprite.scss */
.iti-flag.tw {
  height: 14px;
  background-position: -5131px 0px;
}
/* line 972, ../scss/sprite.scss */
.iti-flag.tz {
  height: 14px;
  background-position: -5153px 0px;
}
/* line 976, ../scss/sprite.scss */
.iti-flag.ua {
  height: 14px;
  background-position: -5175px 0px;
}
/* line 980, ../scss/sprite.scss */
.iti-flag.ug {
  height: 14px;
  background-position: -5197px 0px;
}
/* line 984, ../scss/sprite.scss */
.iti-flag.um {
  height: 11px;
  background-position: -5219px 0px;
}
/* line 988, ../scss/sprite.scss */
.iti-flag.us {
  height: 11px;
  background-position: -5241px 0px;
}
/* line 992, ../scss/sprite.scss */
.iti-flag.uy {
  height: 14px;
  background-position: -5263px 0px;
}
/* line 996, ../scss/sprite.scss */
.iti-flag.uz {
  height: 10px;
  background-position: -5285px 0px;
}
/* line 1000, ../scss/sprite.scss */
.iti-flag.va {
  height: 15px;
  background-position: -5307px 0px;
}
/* line 1004, ../scss/sprite.scss */
.iti-flag.vc {
  height: 14px;
  background-position: -5324px 0px;
}
/* line 1008, ../scss/sprite.scss */
.iti-flag.ve {
  height: 14px;
  background-position: -5346px 0px;
}
/* line 1012, ../scss/sprite.scss */
.iti-flag.vg {
  height: 10px;
  background-position: -5368px 0px;
}
/* line 1016, ../scss/sprite.scss */
.iti-flag.vi {
  height: 14px;
  background-position: -5390px 0px;
}
/* line 1020, ../scss/sprite.scss */
.iti-flag.vn {
  height: 14px;
  background-position: -5412px 0px;
}
/* line 1024, ../scss/sprite.scss */
.iti-flag.vu {
  height: 12px;
  background-position: -5434px 0px;
}
/* line 1028, ../scss/sprite.scss */
.iti-flag.wf {
  height: 14px;
  background-position: -5456px 0px;
}
/* line 1032, ../scss/sprite.scss */
.iti-flag.ws {
  height: 10px;
  background-position: -5478px 0px;
}
/* line 1036, ../scss/sprite.scss */
.iti-flag.xk {
  height: 15px;
  background-position: -5500px 0px;
}
/* line 1040, ../scss/sprite.scss */
.iti-flag.ye {
  height: 14px;
  background-position: -5522px 0px;
}
/* line 1044, ../scss/sprite.scss */
.iti-flag.yt {
  height: 14px;
  background-position: -5544px 0px;
}
/* line 1048, ../scss/sprite.scss */
.iti-flag.za {
  height: 14px;
  background-position: -5566px 0px;
}
/* line 1052, ../scss/sprite.scss */
.iti-flag.zm {
  height: 14px;
  background-position: -5588px 0px;
}
/* line 1056, ../scss/sprite.scss */
.iti-flag.zw {
  height: 10px;
  background-position: -5610px 0px;
}

/* line 317, ../scss/intlTelInput.scss */
.iti-flag {
  width: 20px;
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("https://www.allworldshops.cn/skin/frontend/allworldshops/aws_cn/images/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 317, ../scss/intlTelInput.scss */
  .iti-flag {
    background-image: url("https://www.allworldshops.cn/skin/frontend/allworldshops/aws_cn/images/flags@2x.png");
  }
}

/* line 335, ../scss/intlTelInput.scss */
.iti-flag.np {
  background-color: transparent;
}

/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) {
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) {
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) {
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) {
    div { color:#888; }
}

// ----------------------------------------------
*/
/* line 2, ../scss/styles_cn.scss */
#opc-shipping {
  display: none;
}

/* line 6, ../scss/styles_cn.scss */
.page-print .col2-set .col-2 {
  display: none;
}
/* line 9, ../scss/styles_cn.scss */
.page-print .col2-set .col-1 {
  width: 100%;
}

@media only screen and (max-width: 350px) {
  /* line 13, ../scss/styles_cn.scss */
  .products-list .action .button {
    padding: 6px 3px 4px 3px !important;
  }
}

/* line 19, ../scss/styles_cn.scss */
#co-billing-form ul.form-list > .control {
  display: none;
}

/* line 23, ../scss/styles_cn.scss */
#shipping-progress-opcheckout {
  display: none;
}

/* line 28, ../scss/styles_cn.scss */
.my-account .addresses-list .addresses-primary .item:nth-of-type(2) {
  display: none;
}

/* line 33, ../scss/styles_cn.scss */
.new-address-book .fieldset:nth-of-type(2) .form-list li:nth-last-child(1) {
  display: none;
}

/* line 38, ../scss/styles_cn.scss */
.customer-account-index .col2-set .col-1 {
  display: none;
}
/* line 41, ../scss/styles_cn.scss */
.customer-account-index .col2-set .col-2 {
  float: left;
  padding-left: 0;
}

/* line 48, ../scss/styles_cn.scss */
.pager-bottom-custom:lang(zh) .pages li a {
  font-size: 18px;
}

@media only screen and (max-width: 979px) {
  /* line 54, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2 {
    border-top: 1px solid #424242;
  }
  /* line 56, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2 span {
    margin-top: -15px;
  }
  /* line 58, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2 span.row-bottom {
    margin-top: 10px;
  }
  /* line 63, ../scss/styles_cn.scss */
  html:lang(zh) .main-container .home-category-list .page-title h2:before,
  html:lang(zh) .main-container .home-category-list .page-title h2:after {
    width: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 920px) {
  /* line 70, ../scss/styles_cn.scss */
  html:lang(zh) .logo .logo-text {
    left: 85px;
    font-size: 21px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 76, ../scss/styles_cn.scss */
  html:lang(zh) .logo .logo-text {
    font-size: 22px;
  }
  /* line 79, ../scss/styles_cn.scss */
  html:lang(zh) .button, html:lang(zh) .cart-table .product-cart-actions .button,
  html:lang(zh) #co-shipping-method-form .buttons-set .button,
  html:lang(zh) .footer .button {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) {
  /* line 86, ../scss/styles_cn.scss */
  html:lang(zh) .skip-cart .count,
  html:lang(zh) .link-wishlist .count {
    font-size: 14px;
    font-weight: 400;
  }
  /* line 91, ../scss/styles_cn.scss */
  html:lang(zh) .link-header-content.link-wishlist a {
    padding: 4px 20px 7px;
  }
}

/* 
 *  Owl Carousel - Animate Plugin
 */
/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* line 6, ../scss/owl.carousel.scss */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 12, ../scss/owl.carousel.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}
/* line 15, ../scss/owl.carousel.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}
/* line 18, ../scss/owl.carousel.scss */
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
/* line 50, ../scss/owl.carousel.scss */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
/* line 62, ../scss/owl.carousel.scss */
.owl-carousel {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
/* line 69, ../scss/owl.carousel.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
/* line 72, ../scss/owl.carousel.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 81, ../scss/owl.carousel.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
/* line 90, ../scss/owl.carousel.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 50%;
  background: url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/images/icon-shipping.png") no-repeat;
  width: 10px;
  height: 10px;
  text-indent: -999em;
}
/* line 104, ../scss/owl.carousel.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: -15px;
  background-position: -113px -7px;
}
/* line 108, ../scss/owl.carousel.scss */
.owl-carousel .owl-controls .owl-nav .owl-next {
  right: -15px;
  background-position: -132px -7px;
}
@media only screen and (min-width: 769px) {
  /* line 88, ../scss/owl.carousel.scss */
  .owl-carousel .owl-controls .owl-nav {
    text-indent: -999em;
  }
}
/* line 117, ../scss/owl.carousel.scss */
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 127, ../scss/owl.carousel.scss */
.owl-carousel.owl-loaded {
  display: block;
}
/* line 130, ../scss/owl.carousel.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
/* line 134, ../scss/owl.carousel.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}
/* line 137, ../scss/owl.carousel.scss */
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
/* line 140, ../scss/owl.carousel.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 151, ../scss/owl.carousel.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
/* line 157, ../scss/owl.carousel.scss */
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
/* line 163, ../scss/owl.carousel.scss */
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
/* line 170, ../scss/owl.carousel.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}
/* line 172, ../scss/owl.carousel.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 180, ../scss/owl.carousel.scss */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
/* line 190, ../scss/owl.carousel.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
/* line 198, ../scss/owl.carousel.scss */
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/* line 202, ../scss/owl.carousel.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
/* line 207, ../scss/owl.carousel.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("https://www.allworldshops.cn/skin/frontend/allworldshops/global/css/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
/* line 224, ../scss/owl.carousel.scss */
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
/* line 233, ../scss/owl.carousel.scss */
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
/* line 237, ../scss/owl.carousel.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
/* line 252, ../scss/owl.carousel.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/* 
 * 	Owl Carousel - Video Plugin
 */

