<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">亲爱的{{htmlescape var=$customer.name}},</h1>
                    <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">您的账户近期有修改密码的请求.</p>
                    <p style="font-size: 12px; line-height: 16px; margin: 0;">如果您提出了申请，请点击如下链接重新设置密码: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                    <p style="font-size: 12px; line-height: 16px; margin: 0;">如果点击无法进行链接，请将该 URL 复制并粘贴到浏览器中.</p>
                    <br />
                    <p style="font-size:12px; line-height:16px; margin:0;">如果您未提出申请，请忽略本信息并且您的密码将保持不变.</p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
