<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">亲爱的{{htmlescape var=$customer.name}},</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">欢迎来到{{var store.getFrontendName()}}。访问本站时，如需登录请点击 <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">登录</a> 或 <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">我的帐户</a> 每一页的上方，然后输入您的电子邮件地址和密码.</p>
                    <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                        如遇提示需登录时，请使用下列值:<br/>
                        <strong>电子邮件</strong>: {{var customer.email}}<br/>
                        <strong>密码</strong>: {{htmlescape var=$customer.password}}<p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">登录您的账户后，即可进行下列操作:</p>
                    <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                        <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 购物时可更快速地结算</li>
                        <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 查看订单状态</li>
                        <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 查看过去的订单</li>
                        <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 修改账户信息</li>
                        <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 修改密码</li>
                        <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; 存储备选地址（可将货物发送给不同的家庭成员和朋友！）</li>
                    </ul>
                    <p style="font-size:12px; line-height:16px; margin:0;">如果您有任何关于账户或其他方面的问题，请随时与我们联系 <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> 或致电 {{config path='general/store_information/phone'}}.</p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
