<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">亲爱的{{htmlescape var=$customer.name}},</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">使用电子邮件 {{var customer.email}} 登录到我们的店铺时必须先进行邮件验证.</p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">要验证电子邮件并立刻登录，请使用 <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">本验证链接</a>. 本链接仅一次有效.</p>
                    <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0 0 16px 0; padding:13px 18px; background:#f9f9f9;">
                        如遇提示需登录时，请使用下列值:<br/>
                        <strong>电子邮件:</strong> {{var customer.email}}<br/>
                        <strong>密码:</strong> {{htmlescape var=$customer.password}}<p>
                    <p style="font-size:12px; line-height:16px; margin:0;">如果您有任何关于账户或其他方面的问题，请随时与我们联系 <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> 或致电 {{config path='general/store_information/phone'}}.</p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
