<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">亲爱的 {{htmlescape var=$user.name}},</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong>您的新密码是:</strong> {{htmlescape var=$password}}</p>
                    <p style="font-size:12px; line-height:16px; margin:0;">您可以通过登录您的账户随时修改密码 <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">please note that this sentence and the above should be translated into one sentence in Chinese. So there would be no translation here</a>.<p>
                </td>
            </tr>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
