<!--@subject Amazonpayments ASP notification error @-->
<!--@vars
{"var request":"Amazon ASP Request",
"var error":"Amazon ASP Error"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <div>
                <div><b>__('Amazon Simple Pay notification message')__</b></div>
                <div>__('Request')__:</div>
                <div style="border:1px solid #000;">{{var request}}</div>
                <div>__('Error')__:</div>
                <div style="border:1px solid #000;">{{var error}}</div>
            </div>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
