<!--@subject Payment Transaction Failed Reminder @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <table>
                <thead>
                    <tr>
                        <th>交易失败.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <b>原因</b><br />
                                {{var reason}}
                            </p>
                            <p>
                                <b>收费类型</b><br />
                                {{var checkoutType}}
                            </p>
                            <p>
                                <b>客户:</b><br />
                                <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                            </p>
                            <p>
                                <b>收费项</b><br />
                                {{var items}}
                            </p>
                            <p>
                                <b>总额:</b><br />
                                {{var total}}
                            </p>
                            <p>
                                <b>账单地址:</b><br />
                                {{var billingAddress.format('html')}}
                            </p>
                            <p>
                                <b>运输地址:</b><br />
                                {{var shippingAddress.format('html')}}
                            </p>
                            <p>
                                <b>运输方式:</b><br />
                                {{var shippingMethod}}
                            </p>
                            <p>
                                <b>交易方式:</b><br />
                                {{var paymentMethod}}
                            </p>
                            <p>
                                <b>日期时间:</b><br />
                                {{var dateAndTime}}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
