<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var email":"Recipient Email address",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var product_image":"Url for product small image (75 px)",
"var sender_name":"Sender name",
"var sender_email":"Sender email",
"var message":"Sender Message"}
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            欢迎您，{{htmlescape var=$name}}<br /><br />请看 <a href="{{var product_url}}">{{var product_name}}</a><br /><br />这里是信息: <br />{{var message}}<br /><br />
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
