<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            {{htmlescape var=$userName}}，您好<br /><br />
            您的授权 <b>{{htmlescape var=$applicationName}}</b> 已被更改为 <b>{{htmlescape var=$status}}</b> 操作者是管理团队.<br /><br />
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
