<!--@subject {{var store.getFrontendName()}}: Credit Memo # {{var creditmemo.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Credit Memo Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>{{htmlescape var=$order.getCustomerName()}},</h1>
                        <p>주문 번호 <span class="no-link">#{{var order.increment_id}}</span>가 <strong>{{var order.getStatusLabel()}}</strong>에 업데이트 되었습니다.</p>
                        {{if comment}}
                        <table cellspacing="0" cellpadding="0" class="message-container">
                            <tr>
                                <td>{{var comment}}</td>
                            </tr>
                        </table>
                        {{/if}}
                        <p><a href="{{store url="customer/account/"}}">나의 계정으로 로그인</a>하여 현재 주문 상태를 확인할 수 있습니다.</p>
                        <p>문의 사항이 있으시면, <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{depend store_phone}} 또는  <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}로 연락주시기 바랍니다. 
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
