<?php $user = $this->helper('fblogin')->getFbUser()?>
<h2 class="h-bottom"><?php echo $this->__('Or') ?></h2>
<div class="fbcontent">
	<div class="fb-login buttons-set">
		<?php if(!$user || !$user['email']){?>
			<!--<fb:login-button perms="email"><?php echo $this->__('Login') ?></fb:login-button>-->
			<a class="fb_button fb_button_medium" onclick="login();return false;" href="#">
				<span class="fb_button_text"><?php echo $this->__('Login with Facebook') ?></span>
			</a>
		<?php }else{?>
			<a class="button2 fb_button fb_button_medium" onclick="window.location.href = '<?php echo $this->getFbloginUrl() ?>';">
				<span class="fb_button_text"><?php echo $this->__('Login with Facebook') ?></span>
			</a>
		<?php }?>
	</div>
</div>

<script src="https://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
<?php if (!$user) { ?>
var newwindow;
var intId;
function login(){
	var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
	var	 screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
	var	 outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
	var	 outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
	var	 width    = 500;
	var	 height   = 270;
	var	 left     = parseInt(screenX + ((outerWidth - width) / 2), 10);
	var	 top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
	var	 features = (
			'width=' + width +
			',height=' + height +
			',left=' + left +
			',top=' + top
		  );

	newwindow=window.open('<?php echo $this->getFbLoginButtonUrl() ?>','Login_by_facebook',features);

	if (window.focus) {
		newwindow.focus()
	}
	return false;
}
<?php } ?>
</script>