$mq-support: true !default;
$mq-fixed-value: 1024px !default;

@mixin bp($feature, $value) {
  // Set global device param
  $media: only screen;

  // Media queries supported
  @if $mq-support == true {

    @media #{$media} and ($feature: $value) {
      @content;
    }

    // Media queries not supported
  } @else {

    @if $feature == 'min-width' {
      @if $value <= $mq-fixed-value {
        @content;
      }
    } @else if $feature == 'max-width' {
      @if $value >= $mq-fixed-value {
        @content;
      }
    }

  }
}
.state-province {
  select {
    margin: 0;
  }
}
.header-minicart .minicart-actions .cart-link {
  height: inherit !important;
}
.invalid-zip-notice {
  margin: 5px 0 0;
  color: #0093d6;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

.zipcode {
  .validation-advice {
    position: static !important;
    width: 100% !important;
  }
}


html:lang(ja){
  .catalog-product-view .product-view .add-to-links a{
    padding: 0 5px;
  }
  .catalog-product-view .product-view .add-to-links a .fa {
    padding-right: 3px;
  }
  .catalog-product-view .product-view .add-to-links a{
    font-size: 12px;
  }
  @media only screen and (min-width: 769px) and (max-width: 920px) {
    .link-header-content.switch-form{
      padding: 0 7px;
    }
    .logo .logo-text {
      left: 78px;
      font-size: 20px;
    }
    .link-header-content.link-wishlist a {
      padding: 6px;
    }
    .link-header-content.header-minicart .skip-cart {
      padding: 4px 5px 5px 2px;
    }
  }
  .page-header {
    .shop-form-country a.current .label,
    .skip-nav .label {
      font-size: 10px;
    }
    .header-minicart .minicart-actions .cart-link,
    .header-minicart .minicart-actions .checkout-button {
      font-size: 12px;
    }
  }
.main-container {
  .home-banner .thumbnail h1{
    font-size: 28px;
  }
  .page-title h1,
  .page-title h2,
  .product-name h1,
  .product-name .h1{
    font-size: 24px;
  }
  .button2{
    font-size: 14px;
  }
  .home-category-list{
    .button2{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  //.thumbnail p.title{
  //  font-size: 22px;
  //}
  .products-grid .add-to-links li a,
  .products-list .add-to-links li a,
  .availability,
  .products-list .out-of-stock span,
  .products-grid .actions .out-of-stock,
  .button,
  .cart-table .product-cart-actions .button,
  #co-shipping-method-form .buttons-set .button,
  .footer .button {
    font-size: 13px;

    @include bp(min-width, 870px){
      font-size: 12px;
    }
  }
  .products-grid .add-to-links li a,
  .products-list .add-to-links li a{
    .fa{
      font-size: 14px;
    }
  }
  .my-account .form-list label{
    min-height: 23px;
  }
}

@include bp(max-width, 920px) {
  .main-container{
    .products-grid li .product-add-info .productinfo .product-info .price-box {
      .special-price,
      .regular-price{
        .price{
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 979px){
  .main-container{
    .home-category-list .page-title h2{
      border-top: 1px solid #424242;
      span{
        margin-top: -15px;
        &.row-bottom{
          margin-top: 10px;
        }
      }
    }
    .home-category-list .page-title h2:before,
    .home-category-list .page-title h2:after{
      width: 0;
    }
  }
}
  @include bp(max-width, 768px){
    .logo .logo-text{
      left: 96px;
      font-size: 20px;
    }
  }
@include bp(min-width, 769px) {
  #search{
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 10px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-size: 10px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-size: 10px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-size: 10px;
    }
  }
  .world-shop-child .thumbnail p {
    font-size: 14px;
    &.title {
      font-size: 18px;
    }
  }
  .main-container {
    .page-title h1 span{
      line-height: 2em;
    }
    .page-title h1,
    .page-title h2,
    .product-name h1,
    .product-name .h1{
      font-size: 28px;
    }
    .show-sorter-page{
      width: 50%;
    }
    .toolbar .pager{
      width: 50%;
    }
    .toolbar .content-box{
      padding-left: 15px;
    }
    .sorter{
      .content-box{
        padding-left: 15px;
      }
      > .limiter{
        padding-right: 15px;
      }
      > .view-mode{
        padding-right: 15px;
      }
      .sort-by .dd.ddcommon{
        min-width: 120px;
        white-space: nowrap;
      }
    }

  }
}
@include bp(max-width, 1190px) {
  @include bp(min-width, 769px) {
    .toolbar .show-sorter-page .sorter > .limiter label,
    .toolbar > .pager .sorter label,
    .toolbar .show-sorter-page .sorter > .limiter .per_page{
      display: none;
    }
    .toolbar .show-sorter-page .sorter > .limiter{
      width: 55%;
    }
    .toolbar .show-sorter-page .sorter > .view-mode{
      width: 40%;
    }
    .main-container {
      .toolbar {
        .pager {
          width: 55%;
          > .count-container .amount{
            font-size: 12px;
          }
        }
        .content-box{
          padding-left: 10px;
        }
        .show-sorter-page {
          width: 45%;
          .sorter > .limiter{
            width: 45%;
            padding-left: 0;
            padding-right: 0;
          }
          .sorter > .view-mode{
            width: 40%;
          }
        }
      }

      .sorter {
        .content-box{
          padding-left: 5px;
        }
        .sort-by .dd.ddcommon{
          min-width: 113px;
        }
      }
    }
  }
}

}